
#filterBlock {
  .ui.labels {
      &.containerFilter {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-top: 20px;

          .label {
              display: flex;
              flex-direction: row;
              align-items: center;
              cursor: pointer;

              button {
                  margin-right: 0;
                  margin-left: .5rem;
              }

              img {
                  margin-left: .5rem;
              }
          }
      }
  }
  
  #filtroList {
      .field {
          &.default {

          }
          &.children {
              margin-left:1.5rem;
          }
      }
  }
}





.filterbar, #filtrosClose {
display: none;
}

.filtros {
ui.dropdown {
  z-index: 0;
  .menu {
    z-index: 10;
  }
}
.ui.accordion {
  .title {
    font-weight: bold;
    font-size: 14px;
    color: $primary-color;
    text-transform: uppercase;
    padding-left: 15px;
    box-shadow: inset 3px 0 0 #EEEEEE;
    margin-bottom: 10px;
    &.active {
      border-top: 3px solid #EEEEEE;
      border-bottom: 3px solid #EEEEEE;
      box-shadow:none;
    }
    .icon {
      float: right;
      margin-top: 3px;
    }
    
    >span {
      word-break: break-word;
      max-width: 120px;
      display: inline-block;
    }
  }
}

button.close {
  display: none;
}
}

.filterColumn {

@media screen and (min-width: 765px) {
  
  &.wide.column {
    position: fixed!important;
    top: 0px;
    z-index: 9999;
    background: #fff;
    height: 100%;
    left: -500px;
    padding: 0px!important;
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out .4s;

    .filterbar {
      display: none!important;
    }

    > .bgFilter {
      position: fixed;
      background: rgba(0,0,0,0.5);
      z-index: 991;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      transition: ease-in-out .4s;
    }

    > .filterBlock {
      z-index: 999;
      position: relative;
      background: #fff;
      padding: 0px 15px;
      height: 100%;
      overflow-y: scroll;
    }

    &.ativo {
     left: 0px; 
     opacity: 1;
     visibility: visible;

     > .bgFilter {
       opacity: 1;
       visibility: visible;
     }

    }

  }

}

@media screen and (max-width: $mobile-bp) {
  display: none !important;
}

&.ativo {

  @media screen and (max-width: $mobile-bp) {
    display: block !important;
  }

}

}

#filtros {

@media screen and (max-width: $mobile-bp) {
  display: none !important;
}

.row {

  @media screen and (max-width: $mobile-bp) {
    padding: 0px;
  }
}

.filterbar {

  @media screen and (max-width: $mobile-bp) {
    height: 45px;
    color: #ffffff;
    background: $ascent-5-color;
    width: 100vw;
    margin: -1em -1em 20px -1em !important;
    vertical-align: middle;
    line-height: 45px;
  }

  h3 {

    @media screen and (max-width: $mobile-bp) {
      line-height: 45px;
      float: left;
      width: calc(100vw - 60px);
      position: absolute;
      left: 10px;
    }
  }

  .button {
    @media screen and (max-width: $mobile-bp) {
      float: right;
      height: 45px;
      width: 45px;
      margin: 0px !important;
      border-radius: 0px;
      font-size: 20px;
      padding: 10px;
      margin-right: -4px !important;
    }
  }
}
}

#filtros.ativo {

@media screen and (max-width: $mobile-bp) {
  background: #ffffff;
  position: fixed !important;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
  padding: 1em;
  width: 100%;
  display: inline-block !important;
  height: 100%;
  overflow-y: scroll;
}
}



.groupList {

.segment {
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 2em 0px;
  border-bottom: 5px solid $primary-color;

  .item {
    padding-left: 1.5em;
    color:#666666 !important;
    font-size: 16px;
    
    h3 {
      font-size: 16px;
      margin:0;
      font-weight: normal;
    }
  }
}
}


.ui.dropdown.button.basic.dropdownitens.small, .ui.dropdown.button.basic.dropdownorder.small, #viewgrid, #viewlist, button.ui.left.floated.icon.button.basic.filterbutton.right.labeled.small {
border-radius: 0px;
box-shadow: none;
// border: 1px solid #000;
color: #000!important;
padding: 5px 10px;
}

button.ui.left.floated.icon.button.basic.filterbutton.right.labeled.small {
margin-left: 15px;

.icon {
  background: transparent;
  right: 20px;
  // border-left: 1px solid #000;
}

} 

#viewlist, #viewgrid {
display: none;
}

.ui.dropdown.button.basic.dropdownorder.small {
margin-right: 15px;

.menu.transition {
  left: auto;
  right: 0px;
  top: 26px;
}

}

#list .ui.four.doubling.cards > .card {

  &.produto .wishlist .bcg-heart {
    top: 30px;
    right: 30px;
    
  }

  @media screen and (max-width: 764px) {
    width: calc( 50% - 0em);
    margin-left: 0em;
    margin-right: 0em;
  
    .content {
      padding: 3px;
    }

  }

}