.getTheLookHeader {
    max-width: 1240px;
    margin: 40px auto 42px;
    font-family: playfair;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #daa520;
} 

.boxGetTheLook {
    max-width: 1230px;
    margin: 0px auto 70px;

    .ui.divider.hidden {
        display: none;
    }

    .slick-slider {

        &.slideshow {
            margin-bottom: 0px!important;
            padding: 0px 20px;
            margin-left: 20px;

            @media screen and (max-width: 480px) {
                padding: 0px 0px;
            }

        }

        .slick-list {
            width: 100%;       
        }  
    
        .slick-arrow {
            bottom: auto;
            top: 40%;
            right: -5px;
            color: transparent;
            width: 35px;
            height: 35px;
            background: url(/assets/image/icons/arrow.svg) center no-repeat;
            opacity: 1;
            transform: rotate(180deg);
    
            &.slick-prev {
            right: auto;
            left: -5px;
            transform: rotate(0deg);
            }
    
        }

    }

    .description p {
        font-size: 14px;
    }

    .card.produto .content .info .sku-options  {
        
        > .btn-comprar-card, > .avise-card {
            max-width: 85px;
            font-size: 10px;

            @media screen and (max-width: 767px) {
                max-width: 100%;
            }
        }
        
        > .dropdown {
            width: calc(85% - 108px);

            &:nth-child(4) {
                width: calc(67% - 106px);
            }

            /* .menu.transition {
                top: auto;
                bottom: 36px;
                box-shadow: 0px -3px 3px 0px rgba(34, 36, 38, 0.15);
                border: 1px solid #8de5f7!important;
                border-bottom: none!important;
                width: auto;
            } */

            @media screen and (max-width: 767px) {
                width: 100%;

                &:nth-child(4) {
                    width:100%;
                }

            }

        }

    } 

    @media screen and (min-width: 764px) {
        
        > .ui.grid:nth-child(2n - 2) > .row > .column{

            &:first-child {
                order: 2;
            }

            &:last-child {
                order: 1;
            }

            .slick-slider.slideshow {
                margin: 0px 20px 0px 0px;
            }

        } 

    }

    @media screen and (max-width: 764px) {
        
        .mobile-hide.side-halfbanner {
            display: block!important;
        }

        .getTheLook-type > .ui.container {
            margin: 0px!important;
            padding: 0px!important;
        }

    }
 
}
.homeGroup .card.produto .content .info .sku-options > .dropdown {

    @media screen and (max-width: 764px) {
        width: calc(100% - 220px);
    
        &:nth-child(4) {
            width: calc(100% - 250px);
        }        
    }

    .menu.transition {
        top: auto;
        bottom: 36px;
        box-shadow: 0px -3px 3px 0px rgba(34, 36, 38, 0.15);
        border: 1px solid #8de5f7!important;
        border-bottom: none!important;
        width: auto;
    }

}

/* #list .card.produto .content .info .sku-options > .dropdown {
    
    .menu.transition {
        top: auto;
        bottom: 36px;
        box-shadow: 0px -3px 3px 0px rgba(34, 36, 38, 0.15);
        border: 1px solid #8de5f7!important;
        border-bottom: none!important;
        width: auto;
    }

} */