﻿@model List<DomainProduct.Entities.Product>
@if (Model != null && Model.Any())
{
<div class="ui container topsellers product">
    <div class="ui horizontal divider">
        Você também vai gostar de...
    </div>
                
    <div class="ui cards centered car-relacionados slideshow">
        @foreach (var product in Model)
        {
            @Html.Partial("~/Views/Shared/Object/Product/_ProductInCard.cshtml", product)
        }
    </div>
    <div class="ui divider hidden"></div>
</div>
}