/* Breadbrumbs */
.breadcrumbs {

    &.two.column.centered.grid.stackable.middle.aligned.margin.top.bottom.no {
        margin-bottom: -68px!important;
        margin-top: 30px!important;

        @media screen and (max-width: 765px) {
            margin-bottom: -20px!important;
            margin-top: 10px !important;
        }

    }

    h1 {
        margin: 0;
        font-size: 1.5em;
        display: none;
    }

}

.ui.breadcrumb {
    text-transform: uppercase;
    color: $black;
    font-size: 12px;
    margin: 10px !important;
    padding: 0;

    a {
        color: #666666;
        &.cursor-default {
            cursor: default;
        }
    }

    li {
        display: inline-block;
    }



}