.ui {

    &.divider {

        color:$primary-color;
        font-weight: bold;
        font-size: 18px;

        a {
            color:$primary-color;
            font-weight: bold;
            font-size: 18px;
        }

        &.medium {
            margin: 0.5rem 0;
        }

        &.small {
            margin: 0.2rem 0;
        }
    }

    &.selection.dropdown {
        min-width: 100% !important;
    }
}
