.card.produto {
    box-shadow: none !important;

    .content {
        position: relative;
        z-index: 4;
        border-top: 0px !important;
        padding: 0.7em;

        .info {
            background-color: white;
            height: auto;
            position: relative;
            // text-align: center;
            transition-duration: 0.3s;
            z-index: 4;

            .dados {
                padding: 10px 0;

                > div {
                    min-height: 58px;
                }

                a:focus {
                    text-decoration: underline;
                }

                h3 {
                    font-weight: normal;
                    color: $black;
                    font-size: 13px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }

                .precoBase {
                    color: #666666;
                    font-size: 13px;

                    i {
                        text-decoration: line-through;
                    }
                }

                .preco {
                    color: $primary-color;
                    font-size: 14px;
                    line-height: 30px;
                    font-weight: 500;
                    display: block;
                    margin: -5px 0px;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }
                }

                .parcelamento {
                    color: #666666;
                    font-size: 13px;
                }
            }

            .botoes {
                border-top: 0 !important;
                bottom: -40px;
                left: 0;
                opacity: 0;
                position: absolute;
                transition-duration: 0.3s;
                width: 100%;
                display: none;

                @media screen and (max-width: $tablet-bp-max) {
                    bottom: initial;
                    left: initial;
                    opacity: 1;
                    position: relative;
                }

                .btnComprar {
                    @media screen and (min-width: $desktop-bp-min) {
                        display: none;
                    }
                }




                .btnDetalhes {
                    background: #eee;
                    color: #666;

                    &:hover,
                    &:focus,
                    &:checked,
                    &:active {
                        background: #eee;
                        color: #666;
                        opacity: .9;
                    }
                }

                button.ui.circular {
                    @media screen and (max-width: $mobile-bp) {
                        padding: .58571429em !important;
                        margin-top: 3px;
                    }
                }

                button.ui.basic.primary,
                button.ui.basic.secondary,
                button.ui.basic.action {
                    @media screen and (max-width: $mobile-bp) {
                        padding: .78571429em 0.8em !important;
                    }
                }
            }

            .sku-options {
                color: #ffffff;
                display: block;
                opacity: 1;
                padding: 10px 0px;
                position: relative;
                text-align: left;
                bottom: 100%;
                transition-duration: .3s;
                width: 100%;
                max-height: 230px;
                z-index: 10 !important;

                &.mask {
                    background: rgba(255, 255, 255, .5);
                }

                > .dropdown {
                    display: inline-block;
                    width: calc(67% - 30px);
                    min-width: auto!important;
                    border: none;
                    padding-left: 0px;
                    font-size: 12px;
                    box-shadow: none;

                    .menu.transition {
                        bottom: 105%;
                        top: auto;
                        box-shadow: none!important;
                        border: 1px solid #000!important;
                        width: auto!important;
                        min-width: auto;
                        
                        > .menu {
                            border: none;
                        }

                        > .header {
                            display: none;
                        }

                        .item {
                            float: left;
                            font-size: 12px;
                            padding: 10px 12px!important;
                        }

                    } 

                }

                > .btn-comprar-card, > .avise-card {
                    max-width: 100px;
                    display: inline-block;
                    background: transparent;
                    border: 1px solid #000;
                    border-radius: 0px;
                    padding: 7px 0px;
                    color: #000;
                    font-weight: normal;
                    font-size: 11px;

                    .icon {
                        margin-left: 2px;
                        background: transparent;
                    }

                }

                .produto-esgotado-label {
                    color: $grey !important;

                    &:not(.hideme) {
                        display: block;
                        font-weight: 600;
                        margin-bottom: .5em;
                    }
                }
            }

            @media screen and (max-width: 480px) {

                text-align: center;

                .sku-options.mask {
                    text-align: center;

                    > .btn-comprar-card, > .avise-card {
                        display: block;
                        margin: 10px auto 0px;
                    }

                }

            }

        }
    }

    &:hover,
    &:focus {

        &.product-in-card {
            box-shadow: none!important;
        }

        .content {

            .ui.slide.masked.reveal.image > .visible.content {
                transform: translateX(-100%) !important;
            }

            .ui.slide.masked.reveal.image > .hidden.content {
                transform: translateX(0) !important;
            }
        }

        .info {

            .botoes {
                opacity: 1;
            }

            .sku-options {
                opacity: 1;
            }
        }
    }

    .wishlist {
        background: transparent;

        .bcg-heart {
            // background: #9e9e9e;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            z-index: 99;
            left: 25px;
            padding: 0 5px 5px;
            cursor: pointer;
            top: 25px;
        }

        i.icon.heart {
            font-size: 18px;
            margin: 0;
            padding: 0;
            line-height: initial;
        }
    }
    
    
    
    
    &.skeleton {
        .content {

            .line {                
                width: 100%;                
                border-radius: 7px;
                background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
                background-size: 600px;
                animation: shine-lines 2s infinite ease-out;
                
                &.img {
                    height: 240px;
                }
                
                &.name {
                    height: 18px;
                    margin-bottom: 10px;
                }
                
                &.rating {
                    height: 18px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

                &.price {
                    height: 15px;
                    margin-top: 15px;
                    margin-bottom: 10px;
                }
                
                &.installment {
                    height: 18px;
                }
            }
        }
    }
}

@keyframes shine-lines {
    0% {
        background-position: 100%;
    }
    40%, 100% {
        background-position: -100%;
    }
}

.ui.top.right.attached.label.massive.wishlist {
    background: transparent;
}

.sku-options {

    .dropdown {

        .scrolling.menu {
            max-height: 7.8rem !important;
        }
    }
}

.ui.three.doubling.cards > .card,
.ui.four.doubling.cards > .card,
.ui.five.doubling.cards > .card,
.ui.six.doubling.cards > .card {
    @media screen and (max-width: $mobile-bp) {
        width: calc( 100% - 2em);
        margin-left: 1em;
        margin-right: 1em;
    }
}
