h1.nomeProduto {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 20px;
    color: $black;
}

h6.codProduto {
    color: #888888;
    margin: 0px !important;
}

#discount-detail {
    padding: 0px;
}
#personalizations {
    
    .option-conditional {
        display: none;
    }
    
    .field {
        position: relative;
        word-break: break-all;
        
        .label {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            
            
            
            @media only screen and (max-width:  $mobile-bp) {
                position: relative;
                right: 0;
                top: initial;
                transform: none;
                width: 100%;
                text-align: center;
                margin: .5rem auto;
            }
        }

        .checkbox {
            width: 100%;
            &.checkbox-image {
                display: flex;
                align-items: center;

                img {
                    max-width: 60px;
                    max-height: 40px;
                    z-index: 1;
                    margin-right: .5rem;
                }

                label {
                    display: flex;
                    align-items: center;
                    flex: 1;

                    &:before {
                        top:50%;
                        transform:translateY(-50%);
                    }

                    &:after {
                        top:calc(50%);
                        margin-top: -7.5px;
                    }
                }
            }

        }

        .limit-field {
            position: absolute;
            right: .5rem;
            top: 50%;
            transform: translateY(-50%);
            color: $grey;
        }
    }
    
    
    .total-personalization {
        color: $black;
        border-top: 1px solid #ddd;
        margin: 15px 0 0;
        
        .product-value,
        .personalization-value,
        .total-value {
            font-weight: 600;
        }
        
    }

    .clear-personalization {
        margin: 0 auto;
        display: block;
        text-align: center;
        text-decoration: underline;
        padding: .5rem 0;
        cursor: pointer;
    }



}
.infoProduto {

    .product-grid .ui.attached.segment {
        padding: 0px;
        border: none;
    }

    #dica_compra_partial {
        margin-top: 15px;

        @media screen and (max-width: $mobile-bp) {
            margin: 0 auto;
            display: table;
        }
    }
    
    #discount-detail {
        .flag-discount {
            max-width: 100%;
            max-height: 80px;
        }
        
        .discount-rules {
            color:#444;
            font-size: 13px;
            margin-top:.5rem;
            
            span {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    
    .ui.accordion.description > .title {
        text-transform: uppercase;
        font-size: 12px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        margin-top: 15px;
        padding: 4px 0px;
        padding-left: 8px;
        max-width: 297px;

        &::after {
            content: '+';
            float: right;
        }

        &.active::after {
            transform: rotate(45deg);
        }

        @media screen and (max-width: 767px) {
            max-width: 100%;
        }

    }

    .marcaProduto {
        color: #666;
        font-size: 14px;
    }

    .avaliacoes {
        color: #666;
        display: table;
        float: right;

        &:hover {
            cursor: pointer;
        }
    }

    .blocoInfo {
        @media screen and (max-width: $mobile-bp) {
            padding: 0;
        }

        .linkRating {
            color: #666666;
            font-size: 12px;
        }

        .blocoValores {
            // border-bottom: 5px solid #ddd;

            > .column {
                @media screen and (max-width: $mobile-bp) {
                    text-align: center;
                }
            }

            .row {
                padding: 0.25rem 0 !important;
            }

            .blocoQtd {

                button {
                    background: transparent;
                    border: 1px solid #000;
                    border-radius: 0px!important;
                    padding: 0px 8px;
                    color: #000;
                }

                input {
                    border: 1px solid #000;
                    border-left: none;
                    padding: 6px 0px;
                    max-width: 30px;
                    font-size: 12px;
                }

                @media screen and (max-width: $mobile-bp) {
                    text-align: center;
                }
            }

            .blocoPreco {
                margin-bottom: 12px;

                @media screen and (max-width: $mobile-bp) {
                    text-align: center !important;
                }


                .precoAntigo {
                    clear: both;
                    color: #999;
                    font-size: 12px;
                    line-height: 18px;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }
                }

                #preco-antigo {
                    display: block;
                    text-decoration: line-through;
                    color: #777;

                    &::before {
                        content: 'De ';
                    }

                }

                .preco {
                    clear: both;
                    color: $black;
                    font-size: 20px;
                    line-height: 25px;
                    font-weight: bold;

                    /* &::before {
                        content: 'Por ';
                    } */

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }
                }

                .disponibilidade {
                    margin: 5px 0 10px 0;
                    color: #666666;
                    font-size: 12px;

                    @media screen and (max-width: $mobile-bp) {
                        text-align: center !important;
                    }
                }

                .infoPreco {
                    clear: both;
                    color: #999;
                    font-size: 14px;
                    line-height: 18px;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }

                    .descontoBoleto {
                        color: $ascent-1-color;
                        font-weight: 700;
                    }
                }
            }

            .btnComprar {

                @media screen and (max-width: $mobile-bp) {
                    text-align: center !important;
                }

                margin: 20px 0 10px !important;

                .btn-comprar-oneclick {
                    margin-top: 20px;
                    font-size: .92857143rem;
                    font-weight: normal;
                }

                .btn-comprar {
                    background: #000!important;
                    box-shadow: none!important;
                    border-radius: 0px;
                    font-weight: normal;
                    padding: 12px 0px;
                    width: 100%;
                    max-width: 300px;
                    margin: 15px 0px 10px;
                    font-size: 12px;

                    @media screen and (max-width: 764px) {
                       width: 100%; 
                    }

                    .bag::before {
                        content: '';
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        background: url(/assets/image/icons/bag.svg) center no-repeat;
                        vertical-align: -3px;
                        margin-right: 8px;
                        filter: invert(1);
                    }

                }

            }
        }
    }
}

.signature {
    &-line {
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding-top: .5rem;
        padding-bottom: .5rem;
        color: $recurring-color;
        line-height: 1.5em;

        @media screen and (min-width: $mobile-bp) {
            justify-content: flex-end;
        }
    }

    &-value {
        font-size: 1.5em;
    }
}


.product-button {
    position: absolute;
    right: 10px;
    top: 10px;

    a {
        display: block !important;
        margin-bottom: 10px !important;
    }
}

.product-tags {
    bottom: 10px;
    left: 10px;
    position: absolute;
    width: 70%;

    .tag {
        margin-left: 1.5em !important;
    }
}

.border.bottom.grey:not(.inverted) {
    border-bottom: 5px solid #DDDDDD;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0 !important;
    border-top: 1px solid #d4d4d5 !important;
}

.ui.segment.grey.formas-pagamento {
    border-bottom: 5px solid #DDDDDD;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0 !important;
    border-top: 1px solid #d4d4d5 !important;

    .accordion {
        .title {
            color: #666666;
            text-transform: uppercase;
            font-size: 12px;
        }

        .ui.list {
            padding-left: 2.2em;
        }
    }
}


.ui.grid.segment {
    padding: 10px 0px !important;
}

.ui.segment {

    &.yellow,
    &.grey {

        .ui.form .fields {
            margin: 0px !important;
        }
    }
}

.ui.ribbon {
    z-index: 5;
}

.produtos.compre.junto {
    > .item {

        .content {
        }

        .extra {
            width: auto !important;
        }
    }
}

.variacao {

    &.cor {
        height: 35px;
        width: 35px;
    }

    &.selecionado {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, .35) !important;
    }
}

.product {

    &.information {

        .marcaProduto {
            margin: 0px !important;
        }

        &.row {
            padding-bottom: .1rem !important;
        }

        h1 {
            margin-top: 10px;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 16px;

            @media screen and (max-width: 767px) {
                text-align: center;
                margin-top: -30px;
            }

        }

        .column {
            padding-bottom: .3rem !important;
            padding-top: 0.3rem !important;
        }
    }
}

.produto {

    &.detalhes {

        &.row {
            padding-top: 0px !important;
        }
    }
}


#pagamento-calculado {
    margin-top: 10px;
    margin-bottom: 20px;

    .formas-pagamento {
        border-bottom: 5px solid #ddd;
        box-shadow: none !important;
        border-radius: 0 !important;
        border-top: 1px solid #d4d4d5 !important;
    }
}

.fb-share-button {
    display: block;
    float: left;
    margin-right: 3px;
}


.menu.tabular {
    .item {
        color: #999 !important;
        text-transform: uppercase;

        &.active {
            color: $black !important;
        }
    }
}

.product-b2b {
    .preco {
        font-size: 20px !important;
        line-height: 20px !important;
    }

    .precoAntigo i {
        text-decoration: line-through;
    }

    .ui.form .field > .button {
        margin-bottom: 0px;
    }
}

#buy-together {

    .row {
        &.horizontal {
            &.divided {
                background: #fff;
                font-family: playfair;
                letter-spacing: 0px;
            }
        }
    }

    a {
        font-weight: bold;
        font-size: 14px;
        color: #666666;
    }

    .ui.attached.segment {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .ui.table {
        border: 1px solid #eee;
        color: #666666;
        border-radius: 0 !important;

        strong {
            color: #000;
        }

        thead th {
            background-color: #999999;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            border-radius: 0 !important;
        }
    }

    #price-buy-together,
    h4 {
        color: $black;
        font-size: 20px;
        line-height: 25px;
    }

    #btn_comprejunto {
        i {
            opacity: 1 !important;
        }
    }
}



#AlsoProducts {
    margin-top: -40px;

    .ui.horizontal.divider {
        margin-bottom: 40px;
        white-space: inherit;
        font-family: playfair;
        letter-spacing: 0px;
    }

    > .ui {
        &.container {
            @media screen and (max-width: $mobile-bp) {
                margin: 25px auto 0 auto !important;
            }
        }
    }
}

#RelatedProducts {
    margin-bottom: -40px;
    
    .ui.horizontal.divider {
        margin-bottom: 40px;
        white-space: inherit;
        font-family: playfair;
        letter-spacing: 0px;
    }

    > .ui {
        &.container {
            @media screen and (max-width: $mobile-bp) {
                margin: 25px auto 0 auto !important;
            }
        }
    }
}




.ui.items:not(.unstackable) > .item > .image > a > img {
    @media screen and (max-width: $mobile-bp) {
        max-width: 100% !important;
        width: auto !important;
        max-height: 250px !important;
    }
}

.ui.list > div > .item {
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: 0.21428571em 0em;
    line-height: 1.14285714em;
}

.kit-product {

    .blocoKit {

        h5 {
            font-size: 16px;
            color: #262626;
        }

        .infoKit {
            text-align: right;

            .nameProduct {
                font-size: 16px;
                color: #262626;
                font-weight: 700;
            }

            .valores {
                color: #767676;
                margin: 5px 0 10px;

                .valorDe {
                    font-size: 11px;
                    text-decoration: line-through;
                }

                .valorPor {
                    color: #2980b9;
                    font-size: 20px;
                }

                .kit {
                    font-size: 11px;
                }
            }

            .variacao {
                color: #767676;
                font-size: 14px;
            }

            .quantidade {
                color: #767676;
                font-size: 14px;
            }
        }
    }
}

.infoPrecoKit {
    color: #999;
    font-size: 14px;
}

.wishlistDetails {
    margin-top: -3px;
    margin-bottom: 10px;
    max-width: 300px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;

    i {
        font-size: 12px;
        color: #666 !important;
    }

    span {
        color: #666 !important;
    }
}

.simulador-frete {
    // border-bottom: 5px solid #ddd !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    // border-top: 1px solid #d4d4d5 !important;

    &.ui.attached.segment {
        padding: 0.5em 1em 1.5em;
    }

    span {
        color: #000;
        font-weight: 700;
    }

    table {
        thead {
            tr {
                th {
                    padding: 5px 5px 15px !important;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 15px 5px !important;
                    font-weight: normal !important;
                }
            }
        }
    }

    input {
        margin-left: 16px;
        border: 1px solid #000;
        padding: 0px 0px!important;
        text-indent: 12px;
        min-width: 179px;
        outline: none;

        @media screen and (max-width: 767px) {
            width: calc(100% - 149px);
        }

    }

    #simular-frete-submit {
        border-radius: 0px;
        padding: 9px 15px;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 9.2px;
        margin-left: 4px;
    }

}



.grid-variations {
    .references {
        margin-bottom: 1em;

        .title {
            display: inline-block;
            text-transform: uppercase;
            border-bottom: 1px solid #000;
            border-top: 1px solid #000;
            padding: 2px 20px;
            margin-bottom: 10px;
            font-size: 12px;
        }

        .variations {
            border: 1px solid #000;
            padding: 0px 0px;
            width: max-content;
            height: 29px;

            @media screen and (max-width: 767px) {
                margin: auto;
            }

            .variacao {
                display: inline-block;

                > button {
                    border-radius: 0px;
                    padding: 8px 15px;
                    box-shadow: none;
                    margin: 0px;
                    font-size: 12px;
                    top: -1px;

                    &::before, &::after {
                        background: #000;
                        color: #fff;
                    }

                }

                &.select {
                    > {
                        button,
                        img {
                            // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.35) !important;
                            background: #000!important;
                            color: #fff!important;
                        }
                    }
                }
            }
        }

    }


    .icon {
        &.bell {
            animation: ring 4s .7s ease-in-out infinite;
            transform-origin: 50% 4px;
        }
    }
}


.grouping {
    &-grid {
        margin-left: -.25rem !important;
        margin-right: -.25rem !important;

        &-item {
            padding: .25rem;
            margin: .25rem;
            border-radius: 20px;
            max-width: 40px;
            box-sizing: content-box;
            border: 2px solid transparent;

            &.checked {
                border-color: #a6a6a6;
            }

            &.item-imagemproduto, &.item-imagem {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 75px;
            }

            &.item-cor {
                padding: 1px;

                .grouping-grid-item-link {
                    display: table;
                    border-radius: 20px;
                    width: 40px;
                    height: 20px;
                }
            }

            &.item-texto {
                max-width: 100%;
            }
        }
    }
}

#openMedidas {
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 20px;
    border: 1px solid #000;
    text-align: center;
    max-width: 190px;
    height: 22px;
    line-height: 22px;
    transition: all .3s;

    &:hover {
        background: #000;
        color: #fff;
    }

    @media screen and (max-width: 767px) {
        margin: auto;

        &::after {
            margin: auto;
        }

    }

}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotateZ(0);
    }

    1% {
        -webkit-transform: rotateZ(30deg);
    }

    3% {
        -webkit-transform: rotateZ(-28deg);
    }

    5% {
        -webkit-transform: rotateZ(34deg);
    }

    7% {
        -webkit-transform: rotateZ(-32deg);
    }

    9% {
        -webkit-transform: rotateZ(30deg);
    }

    11% {
        -webkit-transform: rotateZ(-28deg);
    }

    13% {
        -webkit-transform: rotateZ(26deg);
    }

    15% {
        -webkit-transform: rotateZ(-24deg);
    }

    17% {
        -webkit-transform: rotateZ(22deg);
    }

    19% {
        -webkit-transform: rotateZ(-20deg);
    }

    21% {
        -webkit-transform: rotateZ(18deg);
    }

    23% {
        -webkit-transform: rotateZ(-16deg);
    }

    25% {
        -webkit-transform: rotateZ(14deg);
    }

    27% {
        -webkit-transform: rotateZ(-12deg);
    }

    29% {
        -webkit-transform: rotateZ(10deg);
    }

    31% {
        -webkit-transform: rotateZ(-8deg);
    }

    33% {
        -webkit-transform: rotateZ(6deg);
    }

    35% {
        -webkit-transform: rotateZ(-4deg);
    }

    37% {
        -webkit-transform: rotateZ(2deg);
    }

    39% {
        -webkit-transform: rotateZ(-1deg);
    }

    41% {
        -webkit-transform: rotateZ(1deg);
    }

    43% {
        -webkit-transform: rotateZ(0);
    }

    100% {
        -webkit-transform: rotateZ(0);
    }
}

@-moz-keyframes ring {
    0% {
        -moz-transform: rotate(0);
    }

    1% {
        -moz-transform: rotate(30deg);
    }

    3% {
        -moz-transform: rotate(-28deg);
    }

    5% {
        -moz-transform: rotate(34deg);
    }

    7% {
        -moz-transform: rotate(-32deg);
    }

    9% {
        -moz-transform: rotate(30deg);
    }

    11% {
        -moz-transform: rotate(-28deg);
    }

    13% {
        -moz-transform: rotate(26deg);
    }

    15% {
        -moz-transform: rotate(-24deg);
    }

    17% {
        -moz-transform: rotate(22deg);
    }

    19% {
        -moz-transform: rotate(-20deg);
    }

    21% {
        -moz-transform: rotate(18deg);
    }

    23% {
        -moz-transform: rotate(-16deg);
    }

    25% {
        -moz-transform: rotate(14deg);
    }

    27% {
        -moz-transform: rotate(-12deg);
    }

    29% {
        -moz-transform: rotate(10deg);
    }

    31% {
        -moz-transform: rotate(-8deg);
    }

    33% {
        -moz-transform: rotate(6deg);
    }

    35% {
        -moz-transform: rotate(-4deg);
    }

    37% {
        -moz-transform: rotate(2deg);
    }

    39% {
        -moz-transform: rotate(-1deg);
    }

    41% {
        -moz-transform: rotate(1deg);
    }

    43% {
        -moz-transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(0);
    }
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }

    1% {
        transform: rotate(30deg);
    }

    3% {
        transform: rotate(-28deg);
    }

    5% {
        transform: rotate(34deg);
    }

    7% {
        transform: rotate(-32deg);
    }

    9% {
        transform: rotate(30deg);
    }

    11% {
        transform: rotate(-28deg);
    }

    13% {
        transform: rotate(26deg);
    }

    15% {
        transform: rotate(-24deg);
    }

    17% {
        transform: rotate(22deg);
    }

    19% {
        transform: rotate(-20deg);
    }

    21% {
        transform: rotate(18deg);
    }

    23% {
        transform: rotate(-16deg);
    }

    25% {
        transform: rotate(14deg);
    }

    27% {
        transform: rotate(-12deg);
    }

    29% {
        transform: rotate(10deg);
    }

    31% {
        transform: rotate(-8deg);
    }

    33% {
        transform: rotate(6deg);
    }

    35% {
        transform: rotate(-4deg);
    }

    37% {
        transform: rotate(2deg);
    }

    39% {
        transform: rotate(-1deg);
    }

    41% {
        transform: rotate(1deg);
    }

    43% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

.mainImage.ui.grid {

    >.row:not(.thumbs) {
        margin-left: 160px;

        @media screen and (max-width: 767px) {
            margin: 0px;
        }

    }

    .easyzoom > a {
        overflow: hidden;
        float: left;
        display: block;
        position: relative;
    }

    > .thumbs {
        position: absolute;
        top: 0px;
        left: 0px;
        max-width: 160px;
    
        @media screen and (max-width: 767px) {
            position: relative;
            max-width: 100%;
            top: -20px;
    
            .car-gallery {
                margin-bottom: -50px !important;
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 150px);
                height: 120px;

                .slick-track {
                    width: 100%!important;
                }

            }
    
        }

        .slick-list {
            height: auto!important;
        }
    
    }

    @media screen and (min-width: 768px) {
        .easyzoom--overlay .easyzoom-flyout {
            left: 590px;
            height: 400px;
            width: 400px;
            border: 1px solid #777;
        }
    }

} 

#ytFrame {
    height: 110px;
    width: 100%;
    // background: #dedede url(/assets/image/icons/youtube.svg) center no-repeat;
    background-size: 60px;
    border: none;
    opacity: 0.6;
    cursor: pointer;
    outline: none;
    display: none!important;
    transition: ease-in-out .3s;

    iframe {
        width: 100%;
        height: 100%;
        pointer-events: none;
        
        &:not(:first-child) {
            display: none;
        }

    }

    &.active {
        display: block!important;
    }
    
    &:hover {
        opacity: 1;
    }

    @media screen and (max-width: 767px) {

        &.active {
            display: inline-block!important;
            width: 90px;
            height: 70px;
            vertical-align: middle;
        }

    }

}

.ui.small.modal.ytModal iframe {
    width: 100%;
}

.cursorBox {
    position: absolute;
    border: 1px solid #777;
    height: 120px;
    width: 120px;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    margin-top: -234px;
    margin-left: -235px;
    pointer-events: none;
}



#exibePartial > .ui.grid > .row {

    @media screen and (min-width: 765px) {
        
        &:first-child {
            padding-left: 100px;
        }

        &.one {
            position: absolute;
            left: 0px;
            top: 0px;
            max-width: 100px;
        }

        .car-gallery .slick-arrow {
            background: transparent;
            margin: 0px;

        &.slick-prev {
            transform: rotate(90deg);
            left: 0px;
        }
        
        &.slick-next {
            right: 0px;
            transform: rotate(90deg);
        }

        }

    }

    @media screen and (max-width: 765px) {

        .slick-arrow {
            top: auto;
            bottom: -23%;
            right: 0px;
            color: transparent;
            width: 25px;
            height: 25px;
            background: url(/assets/image/icons/arrow.svg) center no-repeat !important;
            opacity: 1;
            cursor: pointer;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            
            &.slick-prev {
                left: 0px;
                right: auto;
                transform: rotate(0deg);
            }

        }

    }

}

.boxAvaliacoes {
    margin-bottom: 40px;

    .column {

        &.boxes {
            text-align: center;

            .comments {
                max-width: 100%;

                .comment {
                    margin: auto;
                    max-width: 580px;
                    margin-bottom: 25px;
                    padding-bottom: 25px;
                    border-bottom: 1px solid #cecece;

                    .metadata {
                        display: block;
                        margin-top: 20px;

                        > * {
                            display: block;
                            margin-bottom: 8px;
                        }

                    } 

                }

            }

            h4 {
                font-family: 'playfair';
                font-weight: normal;
                font-size: 30px;
                text-transform: uppercase;
            }

            .button {
                margin-top: 20px;
                border: 1px solid #000;
                border-radius: 0px;
                background: #fff;
                font-weight: normal;
                font-size: 16px;
                transition: ease-in-out .3s;

                &:hover {
                    background: #000;
                    color: #fff;
                }

            }

            &+.button {
                margin: auto;
                display: block;
                max-width: 220px;
                left: -2px;
                position: relative;
                border-radius: 0px;
                margin-top: 10px;
            }

        }

        &.form {
            display: none;
            max-width: 780px;
            margin: 20px auto 0px;
        }

    }

} 