.car-banners {	
	.container {
		position:relative;
		.description {
			width: 30%;
			height: 100%;
			top: 0;
			bottom: 0;
			position: absolute;
			background: rgba(255,255,255,.5);
			display: flex;

			.html {
				flex-direction: column;
				vertical-align: middle;
				align-self: center !important;
				width:100%;
				text-align: center;
			}
		}
	}	

	@media screen and (max-width: 764px) {
		.slick-dots {
			position: absolute;
			bottom: 30px;
		}
	}

	/* > .slideshow-item:not(:first-child) {
		display: none;
	} */

}

.ui.images {
  img.side-halfbanner-image {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.centralHalf .column {

	> a {
		overflow: hidden;
		display: block;

		img {
			transition: ease-in-out .4s;
			transform: scale(1);

			&:hover {
				transform: scale(1.1);
			}

		}

	}

	&.seven {
		padding-top: 15px!important;
	
		> a:last-child {
			display: block;
			height: 414px;
			margin-top: 20px;
		}
	}

}