.topsellers {
  margin-top: 30px;

  > .ui.horizontal.divider {
    font-size: 30px;
    font-weight: 200;
    display: block;

    &::before,
    &::after {
      display: none;
    }

    * {
      font-size: 30px;
      font-weight: 200;
      font-family: playfair;
    }
  }

  .slick-arrow {
    bottom: auto;
    top: -5%;
    right: 0px;
    color: transparent;
    width: 25px;
    height: 25px;
    background: url(/assets/image/icons/arrow.svg) center no-repeat !important;
    opacity: 1;
    cursor: pointer;
    transform: rotate(180deg);

    &.slick-prev {
      right: auto;
      left: 15px;
      transform: rotate(0deg);
    }

    @media screen and (max-width: 764px) {
      top: auto;
      bottom: 168px !important;
    }
  }
}

@media screen and (max-width: 764px) {
  .no-slideshow.topsellers .slick-arrow {
    bottom: 74px !important;
  }
}

.featuredProducts .topsellers {
  .card.produto .content .info {
    .sku-options {
      display: none;
    }

    .dados {
      h3 {
        text-align: center;
        font-weight: 600;
        font-size: 15px;

        &::after {
          content: 'Elegância que se destaca!';
          display: block;
          font-size: 12px;
          font-weight: 400;
          text-transform: none;
        }
      }

      > *:not(a) {
        display: none;
      }
    }
  }

  @media screen and (min-width: 765px) {
    .card.produto .content .info .sku-options > .dropdown:nth-child(4) {
      width: calc(67% - 145px);
    }

    .slick-arrow {
      top: 38%;
      right: -1%;
      opacity: 1;
      height: 40px;

      &.slick-prev {
        right: auto;
        left: -1%;
      }
    }
  }
}
