.newsletter-bar {
	text-align: center;
	padding: 0px 0px 100px;

	.title {
		display: block;
		text-transform: uppercase;
		font-size: 38px;
		font-weight: 200;
		font-family: 'playfair';
		margin-bottom: 22px;
	}

	.subTitle {
		font-size: 18px;
		display: block;
		margin: 15px 0px 60px;
	}

	.box {
		width: 100%;
		max-width: 500px;
		margin: auto;

		#email_news {
			outline: none;
			border: none;
			border-bottom: 1px solid #000000de;
			padding-bottom: 8px;
			font-size: 18px;
			color: #000000de;
			margin-right: 12px;
			width: calc(100% - 166px);

			&::placeholder {
				color: #000000de;
			}

		}

		#btn_news {
			font-weight: 500;
			background: transparent;
			border: 1px solid #000;
			border-radius: 0px;
			font-size: 18px;
			padding: 0px;
			width: 145px;
			height: 40px;
			transition: all .3s;

			&:hover {
				background: #000;
				color: #fff;
			}

		}

	}

	@media screen and (max-width: 764px) {
		
		&.ui.container.fluid {
			padding: 60px 0px 50px!important;

			.subTitle {
				font-size: 15px;
			}

			.title {
				font-size: 30px;
			}

			.box {

				#email_news {
					font-size: 15px;
					width: 100%;
					margin: 0px auto 12px;
					border-color: #dedede;
					max-width: 300px;
					display: block;
					text-align: center;
				}

				#btn_news {
					font-size: 16px;
					height: 35px;
					width: 130px;
				}

			} 

		}

	}

}

.footer-wrap{
	position: absolute;
	bottom: 0px;
}

.footer {

	> .ui.container {
		max-width: 900px!important;
	}
    
	h4.ui.header {
		font-weight: 400;
		font-size: 15px;
	}

	h5 {
		font-weight: normal;
		color: #797979;
		text-transform: uppercase;
		font-size: 11px;
		transition: all .3s;

		&:hover {
			color: #000;
		}

	}

	socialbar {
		text-align: center;
		display: block;
		margin-bottom: 30px;
	
		a {
			color: #222;
			font-size: 17px;
			border: 1px solid #000;
			border-radius: 100%;
			text-align: center;
			width: 30px;
			height: 30px;
			display: inline-block;
			line-height: 30px;
			text-indent: 2px;
			margin-right: 8px;
			transition: all .3s;
			
			&:hover {
				color: #fff;
				background: #000;
			}

		}

	}

	.selos-box img {
		max-height: 62px;
		margin-left: 20px;
	}

	@media screen and (max-width: 764px) {
		
		socialbar+.column {
			text-align: center;
			margin-bottom: 20px;
		}

		.ui.list.link {
			display: none;
		}

		h4.ui.header::after {
			content: "\F107";
			font-family: Icons;
			top: 1px;
			position: relative;
			margin-left: 5px;
		}

	}

}

.subFooter {
	// background-color: $secondary-color;
	// border-top:1px solid lighten($secondary-color,10);

	@media screen and (max-width: $mobile-bp) {
		text-align: center;
	}

	.menu_subfooter {
		margin-bottom: 1em;

		a.submenu {
			padding: .42857143em 0.84285714em;
			color: white;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.textoEmpresa {
		text-align: center;
		text-transform: uppercase;

		>h6 {
			color:#797979;
			font-size:10px;
			font-weight: normal;
			margin:0 0 10px 0;
			display: inline-block;
		}
		> address {
			color:#797979;
			font-size:10px;
			font-weight: normal;
			font-style: normal;
			display: inline-block;
		}
	}

	.ui.tiny.images {
		@media screen and (max-width: $mobile-bp) {
			text-align: center;
		}
	}

	.byJet a {
		text-align: center;
		display: block;
		width: 100%;
		font-size: 10px;
		text-transform: uppercase;
	}

}

.jetBrand{
	height: 35px;
	text-align: center;
	padding: 0px !important;
	background: black !important;

	img{
		height: 25px;
		margin:5px;
	}
}
#seloEbit{
	display: inline-block !important;
	width:84px;
	@media screen and (max-width: $mobile-bp) {
		float:none;
		margin: 0;
		width: auto;
	}

}
#jetLogo {
	height: 45px;

	.st0 {
		fill: #000;

	}

	.st1 {
		fill: rgba(255,0, 0, 1);
	}
}

.scrollToTopButton {
    position: fixed;
    z-index: 9999;
    width: 48px;
    height: 47px;
	background: $primary-color url(/assets/image/icons/arrow-top.svg) center 9px no-repeat;
    background-size: 26px;

    bottom: 18px;
    right: 18px;
    border-radius: 100%;
    text-align: center;
    line-height: 44px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    transition: all .3s;

    span {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

}

.ui.modal.news {

	.content {
		background: #231f21;
		border-radius: 0px;
		border: 3px solid #fff;
		padding: 10px;
		color: #bababa;
		font-family: caviar;
		text-align: center;
		font-size: 20px;

		h4 {
			font-family: 'caviar';
			font-weight: 100;
			text-transform: uppercase;
			font-size: 30px;
		}

		> .left {
			display: inline-block;
			width: 59%;
			vertical-align: middle;

			img {
				max-width: 150px;
				margin: auto;
				display: block;
			}

			input {
				background: transparent;
				border: 2px solid #979697;
				font-size: 16px;
				padding: 4px 10px;
				display: block;
				margin: auto;
				max-width: 190px;
				text-align: center;
				margin-bottom: 4px;
				outline: none;
				color: #979697;
			}

			b {
				font-family: 'newYork';
				font-weight: normal;
			}

			u {
				border: 2px solid;
				padding: 0px 5px;
				text-decoration: none;
				font-weight: bold;
			}

			.button {
				border-radius: 0px;
				padding: 8px 0px;
				font-weight: normal;
				color: #000!important;
				display: block;
				margin: auto;
				width: 100%;
				max-width: 190px;
				background: #979697;
				transition: all .3s;

				&:hover {
					background: #908f90;
				}

			}

		}

		> .right {
			display: inline-block;
			width: 39%;
			vertical-align: middle;

			img {
				width: 100%;
			}

		}

		@media screen and (max-width: 480px) {
			> .left {
				width: 100%;
				padding: 10px 0px;
			}
			> .right {
				display: none;
			}
		}

	}

	@media screen and (max-width: 480px) {

		.ui.modal > .close {
			color: #fff;
			top: -40px!important;
		}

	}
	
	/* .content {
		padding: 35px 20px 35px;
		background: whitesmoke;
	}

	h4 {
		text-align: center;
		text-transform: uppercase;
		font-size: 18px;
	}

	p {
		text-align: center;
		font-size: 16px;
		margin-top: 40px;
	}

	input {
		display: block;
		margin: auto;
		border: none;
		outline: none;
		background: lightgrey;
		width: 100%;
		padding: 14px 10px;
		border-radius: 5px;
		font-size: 16px;
		text-align: center;

		&::placeholder {
			color: #444;
		}

	}

	button {
		background: #000;
		color: #fff;
		width: 100%;
		margin: 10px 0px 0px!important;
		padding: 16px 0px;
	}

	@media screen and (max-width: 767px) {
		> .close {
			top: -2.5rem!important;
			color: #fff;
		}
	} */

} 