.whatsappweb {
  width: 75px;
  position: fixed;
  bottom: 90px;
  right: 7px;
  padding: 10px;
  z-index: 999;
  @media (max-width: 1024px) {
    top: unset;
    width: 48px;
    height: 47px;
    bottom: 77px;
    right: 17px;
  }
}
