﻿@model IList<DomainProduct.Entities.Group>

@if (Model != null && Model.Any())
{
    string urlStore = Request.Url.AbsolutePath.ToLower();
    string[] words = urlStore.Split('/');
        
    if (words[1] == "" || words[1].ToLower() == "home")
    {
        int count = 0;
        <div class="ui container topsellers">                
            @foreach (var group in Model.Where(c => c.IdGroup <= 5193))
            {
                <div class="ui horizontal divider">
                    <a href="@group.UrlFriendly" title="@group.Name"><h3>@group.Name</h3></a>
                </div>
                @Html.Action("ProductsByGroup", "Product", new { id = group.IdGroup })
                count++;
            }
        </div>
        
    }
    else
    {

        foreach (var group in Model.Where(c => c.IdGroup > 5193))
        {
            <div class="ui grid" id="@group.Name.ToLower()">
                <div class="row two column middle aligned stackable">
                    <div class="column">
                        @* <h3 class="titleGroup">@group.Name</h3> *@
                        @Html.Action("BannerGroup", "Banner", new {groupID = group.IdGroup, bannerType = 'L'})
                        @* <p class="descriptionGroup">@group.MetaDescription</p> *@
                    </div>
                    <div class="column getTheLook-type no-slideshow">
                        @Html.Action("ProductsByGroup", "Product", new {id = group.IdGroup})
                    </div>
                </div>
            </div>
        }
    }
}