﻿@model IList<DomainCompany.Entities.Banner>
    
<div class="ui container centralHalf">
    <div class="ui two column grid stackable">
        @if (Model != null && Model.Any())
        {

            List<DomainCompany.Entities.Banner> bannerRandom = Model.Where(b => b.Random == true).ToList();
            List<DomainCompany.Entities.Banner> bannerNoRandom = Model.Where(b => b.Random == false).ToList();
            if (bannerRandom.Any())
            {
                <div class="nine wide column">
                    @foreach (var randombanner in bannerRandom)
                    {
                        <a href="@randombanner.Link" title="@randombanner.Name" class="ui">
                            <img src="/assets/image/img_default.png" data-src="@randombanner.NameFileImage" class="ui image centered" alt="@randombanner.Name" title="@randombanner.Name" onerror="imgError(this)" />
                        </a>
                    }
                </div>
            }

            if (bannerNoRandom.Any())
            {
                <div class="seven wide column right">
                    @foreach (var banner in bannerNoRandom)
                    {
                        <a href="@banner.Link" class="ui" title="@banner.Name">
                            <img src="/assets/image/img_default.png" data-src="@banner.NameFileImage" class="ui image" alt="@banner.Name" title="@banner.Name" onerror="imgError(this)" />
                        </a>
                    }
                </div>
            }
        }
    </div>
</div>