﻿@model IList<DomainCompany.Entities.Banner>
@if (Model != null && Model.Count() > 0)
{

  List<DomainCompany.Entities.Banner> bannerRandom = Model.Where(b => b.Random == true).ToList();
  List<DomainCompany.Entities.Banner> bannerNoRandom = Model.Where(b => b.Random == false).ToList();

  if (bannerRandom.Any())
  {

    <div class="ui hide mobile fluid container car-banners slick-dotted slideshow" data-qtd="1" data-auto="true" data-arrow="false" data-dots="true">
      @foreach (var randombanner in bannerRandom)
      {
        <div class="container slideshow-item">
          <div class="image">
            <a href="@randombanner.Link" title="@randombanner.Name">
              <img src="/assets/image/img_default_fullBanner.png" data-src="@randombanner.NameFileImage" class="ui fluid image centered" alt="@randombanner.Name" onerror="imgError(this)" />
            </a>
          </div>
          @if (System.Text.RegularExpressions.Regex.Replace(randombanner.Description.Trim(), "<.*?>|&nbsp;", String.Empty).Trim() != "")
          {
            <div class="description">
              <div class="html">@Html.Raw(randombanner.Description)</div>
            </div>
          }
        </div>
      }
    </div>
  }
  if (bannerNoRandom.Any())
  {
    <div class="ui mobile only fluid container car-banners slick-dotted slideshow" data-qtd="1" data-auto="true" data-arrow="false" data-dots="true">
      @foreach (var banner in bannerNoRandom)
      {
        <div class="container slideshow-item">
          <div class="image">
            <a href="@banner.Link" title="@banner.Name">
              <img src="/assets/image/img_default.png" data-src="@banner.NameFileImage" class="ui fluid image centered" alt="@banner.Name" title="@banner.Name" onerror="imgError(this)" />
            </a>
          </div>
        </div>
      }
    </div>
  }
}
