﻿@{
    ViewBag.Title = "Identificação";
    Layout = "~/Views/Shared/Base/_LayoutCheckout.cshtml";

    var _paypalCheckoutInCart = Session["PreOrderPayPalCheckoutInCart"] != null ? "true" : "false";
}
@section logo {
    <a href="/Home" title="@LojaCorp.Control.Company._Company.FantasyName">
        <img class="ui middle aligned image logo" src="~/assets/image/logo/logo.png" />
    </a>
}
@section steps{
    <div class="jet checkout jBreadCrumb ">
        <div class="jCrumb">
            <div class="jBullet">
                <div class="jButton">
                    <span>1</span>
                </div>
            </div>
            <h4>Identificação</h4>
        </div>
        <div class="jCrumb">
            <div class="jBullet">
                <div class="jButton">
                    <span>2</span>
                </div>
            </div>
            <h4>Pagamento</h4>
        </div>
        <div class="jCrumb">
            <div class="jBullet">
                <div class="jButton">
                    <span>3</span>
                </div>
            </div>
            <h4>Confirmação</h4>
        </div>
    </div>
}

<div class="ui container no-p no-m">
    <div class="ui grid middle aligned center aligned">
        <div class="row">
            <div class="column">
                <h1 class="text color black">Finalizar Compra</h1>
                <span class="text color grey regular">Em apenas 3 passos você finaliza a compra de forma rápida e segura.</span>
            </div>
        </div>
        <div class="row">
            <div class="twelve wide computer sixteen wide tablet sixteen wide mobile column">
                <form action="" method="POST" id="identificationForm" class="ui large form jet checkout">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="email" id="email" value="" />
                    <input type="hidden" name="cpfCnpj" id="cpfCnpj" value="" />
                    <input type="hidden" name="payPalCheckoutInCart" id="payPalCheckoutInCart" value="@_paypalCheckoutInCart" />
                    <div class="ui segment">
                        <div class="ui grid very relaxed stackable">
                            <div class="row one column left aligned">
                                <div class="column">
                                    <div class="field required">
                                        <label for="">Digite seu E-mail, CPF ou CNPJ</label>
                                        <div class="ui left icon huge input">
                                            <i class="mail icon"></i>
                                            <input type="text" id="login" name="login" placeholder="E-mail, CPF ou CNPJ">
                                        </div>
                                    </div>
                                    <button type="submit" id="checkLogin" class="ui animated button large submit action right floated"
                                            tabindex="0">
                                        <div class="visible content">Continuar</div>
                                        <div class="hidden content">
                                            <i class="right arrow icon"></i>
                                        </div>
                                    </button>
                                </div>
                                @Html.Action("GetRecaptchaV3", "Company", new { Module = "FirstAccess" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="column nine wide computer sixteen wide tablet sixteen wide mobile">
                <div class="textSecurity">
                    <img src="/assets/image/lock-checkout.png">
                    <span>
                        Utilizamos seu e-mail para identificação e
                        facilitar o processo de compra.
                        Não se preocupe, a partir desse momento
                        todas as <strong>informações são criptografadas</strong>.
                    </span>
                    <div class="codeSymbol">*****</div>
                </div>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.PolicyPrivacy)
{
    <div class="ui modal modal-policy">
        <div class="scrolling content">
            @Html.Raw(ViewBag.PolicyText)
        </div>
        <div class="actions padding top bottom no">
            <div class="ui grid two column stackable middle aligned">
                <div class="column eleven wide text left">
                    <div class="inline field">
                        <div class="ui checkbox check-policy-modal">
                            <input id="valida-modal" type="checkbox">
                            <label for="valida-modal">Declaro que li e aceito os termos da <strong>Política de Privacidade</strong>.</label>
                        </div>
                    </div>
                </div>
                <div class="column five wide"><div class="ui basic button deny action disabled" id="btn-payment-go">Continuar</div></div>
            </div>
        </div>
    </div>


}

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '2294688164147709');
fbq('track', 'InitiateCheckout');

</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=2294688164147709&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->