﻿@model DomainCheckout.Entities.Cart
@using DomainPayment.Entities.BrasPag.Contracts.Antifraud
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Pagamento";
    Layout = "~/Views/Shared/Base/_LayoutCheckout.cshtml";

    if (Session["PaymentLinkChangeBrand"] == null)
    {
        Session["PaymentLinkChangeBrand"] = false;
    }

    string _disabled = "";
    string _disabledPaymentBrands = "disable_column";
    string _paymentLinkChangeBrand = "0";
    if (Session["PaymentLinkChangeBrand"] != null && (bool)Session["PaymentLinkChangeBrand"] == true)
    {
        _disabled = "disable_column";
        _disabledPaymentBrands = "";
        _paymentLinkChangeBrand = "1";
    }
}
@section logo {
    @if (_paymentLinkChangeBrand == "0")
    {
        <a href="/Home" title="@LojaCorp.Control.Company._Company.FantasyName">
            <img class="ui middle aligned image logo" src="~/assets/image/logo/logo.png" />
        </a>
    }
    else
    {
        <img class="ui middle aligned image logo" src="~/assets/image/logo/logo.png" />
    }
}
@section steps{
    @if (_paymentLinkChangeBrand == "0")
    {
        <div class="jet checkout jBreadCrumb">
            <div class="jCrumb completed">
                <div class="jBullet">
                    <div class="jButton">
                        <span><i class="icon check"></i></span>
                    </div>
                </div>
                <h4>Identificação</h4>
            </div>
            <div class="jCrumb active">
                <div class="jBullet">
                    <div class="jButton">
                        <span>2</span>
                    </div>
                </div>
                <h4>Pagamento</h4>
            </div>
            <div class="jCrumb">
                <div class="jBullet">
                    <div class="jButton">
                        <span>3</span>
                    </div>
                </div>
                <h4>Confirmação</h4>
            </div>
        </div>
    }
}
<input type="hidden" name="PaymentLinkChangeBrand" id="PaymentLinkChangeBrand" value="@_paymentLinkChangeBrand" />
<input type="hidden" name="idShipping" id="idShipping" value="@Model.IdShippingMode" />
<div class="ui tiny scrolling modal lista-endereco-cliente" id="ListaEnderecosCliente">
    @Html.Action("ListaEnderecosCliente", "Checkout")
</div>
<div class="ui container" id="containerPayment">
    <div class="ui grid stackable centered">
        <div class="row one column">
            <div class="column" id="checkoutColumn1">

                <div class="ui grid two column stackable summary">
                    <div class="column">
                        <!-- Dados do Cliente -->
                        <div class="ui segment" id="dadosClienteUpdate">
                            @Html.Action("ListaDadosCliente", "Checkout", new { zipCodeCart = Model.ZipCode, idShippingModeCart = Model.IdShippingMode })
                        </div>
                    </div>
                    <div class="column">
                        <!-- Produtos do Carrinho -->
                        @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Carrinho.cshtml", Model)
                    </div>
                </div>

                <div class="ui grid one column stackable">

                    <div class="column">
                        <!-- Dados de Frete -->
                        <div class="ui segment">
                            <div class="ui accordion frete">
                                <div class="active title">
                                    <i class="icon shipping fast"></i>
                                    Opções <strong>de Entrega</strong>
                                    <i class="ui icon dropdown floated right"></i>
                                </div>
                                <div class="active content" id="updateShippingPayment">
                                    <div class="row text center"><img src="/assets/image/loading.svg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (!Model.CartItems.FirstOrDefault().IsRecurrent)
                    {
                        <!-- Vale Compras -->
                        @Html.Action("ValeCompra", "Checkout")

                        <div class="column @_disabled">
                            <!-- Cupom Desconto -->
                            @Html.Partial("~/Views/Shared/Parts/Checkout/_Part_Checkout_Desconto.cshtml")
                        </div>
                    }
                    <!-- Embrulhar para presente -->
                    @if (ViewBag.Gift)
                    {
                        <div class="column @_disabled">
                            <div class="ui segment presente">
                                <div class="ui accordion compra">
                                    <div class="active title">
                                        Embrulhar <strong>para presente?</strong>
                                        <i class="ui icon dropdown floated right"></i>
                                    </div>

                                    <div class="content ui form">
                                        <div class="field">
                                            <div class="ui toggle checkbox margin left large" id="checkPresente">
                                                <input type="checkbox" name="presente" id="presente" value="off" />
                                            </div>
                                        </div>
                                        <div class="field" id="exibeMsg">
                                            <label>Mensagem</label>
                                            <textarea rows="2" name="mensagem" id="mensagem"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="sixteen wide column jetCheckout @_disabledPaymentBrands margin top small" id="checkoutColumn2">



                <!-- Formas de Pagamento -->
                @Html.Action("ListaFormasPagamento", "Checkout")

                <div class="ui divider hidden medium"></div>

                <div class="padding margin top">
                    @Html.Action("GetRecaptchaV3", "Company", new { Module = "Payment" })
                </div>
            </div>

        </div>
    </div>
</div>


@{
    if (!string.IsNullOrEmpty(ViewBag.ClearSale))
    {
        <script>
            (function(a, b, c, d, e, f, g) {
                a['CsdpObject'] = e;
                a[e] = a[e] || function() {
                    (a[e].q = a[e].q || []).push(arguments)
                }, a[e].l = 1 * new Date();
                f = b.createElement(c), g = b.getElementsByTagName(c)[0];
                f.async = 1;
                f.src = d;
                g.parentNode.insertBefore(f, g)
            })(window, document, 'script', '//device.clearsale.com.br/p/fp.js', 'csdp');
            csdp('app', '@ViewBag.ClearSale');
            csdp('sessionid', '@Session["SessionId"].ToString()');
        </script>
    }
}
@{
    bool cyberSourceStatus = Convert.ToBoolean(@Html.Action("GetCyberSourceStatus", "Checkout", null).ToString());
    if (cyberSourceStatus)
    {
        Fingerprint fingerPrint = JsonConvert.DeserializeObject<Fingerprint>(@Html.Action("GetFingerPrint", "Checkout", null).ToString());
        fingerPrint.ProviderIdentifier = Session["SessionId"].ToString();

        @section CyberSourceHead{
            <!--CyberSource Head-->
            <script type="text/javascript" src="https://h.online-metrix.net/fp/tags.js?org_id=@Html.Raw(fingerPrint.ProviderOrgId)&session_id=@Html.Raw(fingerPrint.ProviderMerchantId+fingerPrint.ProviderIdentifier)">
            </script>
        }

        @section CyberSourceBody{
            <!--CyberSource Body-->
            <noscript><iframe style="width:188px; height:188px; border:B; position:absolute; top:-5000px;" src="https://h.online-metrix.net/fp/tags.js?org_id=@Html.Raw(fingerPrint.ProviderOrgId)&session_id=@Html.Raw(fingerPrint.ProviderMerchantId+fingerPrint.ProviderIdentifier)"></iframe></noscript>
        }
    }
}

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '2294688164147709');
fbq('track', 'AddPaymentInfo', { value: @Model.Total.ToString().Replace(",", "."), currency: 'BRL'});

</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=2294688164147709&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->