$p-icon-search-mobile: 10px;

._header {
  background: #fff;
  margin-top: 0px;
  position: relative;
  z-index: 99;

  > .ui.container {
    max-width: 1260px!important;
    // height: 113px;
    padding-top: 0px;
  } 

  .logoSection {
    max-width: 180px;
  }

  .menuSection {
    width: 100%!important;
    max-width:calc(100% - 330px);
  }

  .rightSection {
    max-width: 148px;
    top: -5px;

    > .item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;

      &:last-child {
        margin: 0px;
      } 

      &.search {

        > .searchButton {
          display: block;
          width: 19px;
          height: 19px;
          background: url(/assets/image/icons/search.svg) center no-repeat;
          background-size: contain;
          cursor: pointer;

          &::after {
            content: 'Busca';
            display: block;
            position: relative;
            left: -4px;
            bottom: -18px;
            font-size: 9px;
            text-transform: uppercase;
          }

          &.active-content {
            background: url(/assets/image/icons/close.svg) center no-repeat;
            background-size: 14px;
          }

        }

        > .searchcolumn {
          position: fixed;
          top: 112px;
          width: 100%;
          left: 0px;
          visibility: hidden;
          opacity: 0;
          transition: ease-in-out .3s;

          &.active-content {
            visibility: visible;
            opacity: 1;
          }

          input {
            border-radius: 0px;
            padding: 13px 20px;
          }

          .results {
            width: 100%!important;

            img {
              max-height: 50px;
            }

          }

          .search {
            color: transparent;
            background: url(/assets/image/icons/search.svg) center no-repeat;
            background-size: 20px;
            opacity: 1;
          }

        }  

      } 

      &.user {

        > ul {
          position: absolute;
          background: #fff;
          list-style: none;
          top: 28px;
          right: 52px;
          left: auto;
          min-width: 170px;
          padding: 7px 0px;
          border-radius: 4px;
          visibility: hidden;
          opacity: 0;
          box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
          transition: all .3s;

          &::before {
            content: '';
            position: absolute;
            top: -11px;
            right: 10px;
            border-bottom: 10px solid $secondary-color;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
          }

          a {
            display: block;
            padding: 5px 10px;
            transition: all .3s;

            &:hover {
              background: #000;
              color: #fff;
            }

            .icon {
              display: none;
            }

          }

        }

        &:hover > ul {
          opacity: 1;
          visibility: visible;
        }

        > a {          
          position: relative;

          &::after {
            content: 'Login';
            display: block;
            position: absolute;
            left: 6px;
            bottom: -19px;
            font-size: 9px;
            text-transform: uppercase;
          }

          > .icon.user {
            width: 40px;
            height: 21px;
            color: transparent;
            background: url(/assets/image/icons/user.svg) center no-repeat;
            background-size: contain;
            margin: 0px;
          }

        } 

      } 

      &.bag .cartbutton {
        padding: 0px;
        background: transparent;

        #total_itens_card {
          background: transparent;
          position: absolute;
          border-radius: 100%;
          padding: 4px 5px 3px;
          color: #000;
          font-size: 9px;
          right: 23px;
          bottom: -14px;
          font-weight: normal;

          &::before {
            content: '(';
          }
          
          &::after {
              content: ')';
          }

        }

        .button {
          padding: 0px;
          color: transparent;
          width: 19px;
          height: 19px;
          background: url(/assets/image/icons/bag.svg) center no-repeat;
          background-size: contain;
          top: -2px;
          position: relative;
        }

      }

    }
    
  } 

  @media screen and (max-width: 1199px) {

    > .ui.container {
      height: 76px;
      padding-top: 0px;
    }

    .logoSection.ui.column {
      width: 100%!important;
      max-width: 100%;
      padding-left: 50px;

      img {
        max-width: 130px;
        float: none;
        left: -30px;
      }

    }

    .menuSection.column.ui {
      position: absolute;
      left: 0px;
      max-width: 50px;
      padding: 0px;
    }

    .rightSection.ui.column {
      position: absolute;
      right: 0px;
      top: 21px;

      > .item.search > .searchcolumn {
        top: 89px;
      }

      > .item.bag .cartbutton {
        position: relative;

        #total_itens_card {
          right: 2px;
          // top: 0px;
        }

      }

    }

  }

  @media screen and (max-width: 764px) {
    
    &.ui.fluid.container {
      width: 100%!important;

      .menuSection.column.ui {
        left: -28px;
      }

      .rightSection {
        width: 100px!important;
        padding: 0px!important;

        > .item.user {
          display: none;
        }

      } 

    }

  }

}