//Font
$body-font-size: 14px;
$import-google-fonts: false;
$font-url: 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext';
$font-name: 'Lato';
$font-family: 'Montserrat', $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: playfair;
    src: url(/assets/fonts/playfair/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: newYork;
    src: url(/assets/fonts/newyork/NewYork.otf);
}

@font-face {
    font-family: caviar;
    src: url(/assets/fonts/caviarDreams/CaviarDreams.ttf);
}

@font-face {
    font-family: caviar-bold;
    src: url(/assets/fonts/caviarDreams/CaviarDreams_Bold.ttf);
}