@{
    ViewBag.Title = "Compositions";
    
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

<div class="getTheLookHeader">
    Compositions
</div>

<div class="ui container fluid" id="composicoes">
    <div class="ui container">
        <div class="boxGetTheLook">
            @Html.Action("Group", "Group")
        </div>
    </div>
</div>

