.car-marcas {
    .slick-slide {
        margin: 0px 10px;
    }
}
.thumbnails{
    .slick-slide{
        margin: 0px 10px;
    }
}

.insta_feed {
  .slick-list {
    padding: 0;
    .slick-slide {
      margin: 0px 10px;
    }
  }
}

.slideshow.cards {
    .slick-slide {
        margin: .875em 1em !important;
    }
}

.slick-slider {

  &.centralized {
    .slick-track {
      display: flex !important;
      align-items: center !important;
    }
  }

  &:not(.slick-dotted) {
    margin-bottom: 40px !important;
  }

  .slick-prev {
    left: 25px;
  }

  .slick-prev[dir="rtl"] {
    left: auto;
    right: 25px;
  }

  .slick-next {
    right: 25px;
  }

  .slick-next[dir="rtl"] {
    left: 25px;
    right: auto;
  }

  .slick-prev, .slick-next {
    @media screen and(max-width: $mobile-bp) {
      display: none;
    }

    opacity: 0.5;
    transition: 0.3s;
    z-index: 9;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    z-index: 9;
    bottom: -30px;

    &:hover,
    &:focus {
      opacity: 1;
      outline: none;
    }
  }

  .slick-prev {
    left: calc(100% - 90px);
  }

  .slick-next {
    right: 20px;
  }

  a {
    outline: none;
  }
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-dots {
    position: absolute;
    bottom: 25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;

    @media screen and (max-width: $mobile-bp) {
        position: relative;
        bottom: 0;
    }

    li {
        position: relative;
        display: inline-block;
        height: 14px;
        width: 14px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
 		border-radius: 100%;

        button {
          
            background: transparent;
            display: block;
            height: 14px;
            width: 14px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
  		 	border: 1px solid #fff;
            border-radius: 100%;

            &:hover, &:focus {
                outline: none;

                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }

             /* &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            } */
        }

       &.slick-active {
            background: #fff;
        }
    }
}

// == Tratativa para evitar quebra do carrossel no Edge
.container-product-cards {
  .slick-slide {
    padding: 2px !important;
  }
}