﻿@model List<DomainCompany.Entities.CustomPage>

@{
  int counter = 1;
  int commonQuestionColumn = 2;
  bool commonQuestionsLink = false;
}

@foreach (var itemTitle in Model)
{
  <div class="column">
    <h4 class="ui header">@itemTitle.Name</h4>
    <div class="ui link list">
      @foreach (var itemPage in itemTitle.CustomPagesContent)
      {
        <a href="/institucional/@itemTitle.IdCustomPage/@itemPage.IdCustomPageContent" class="item" title="@itemPage.Name"><h5>@itemPage.Name</h5></a>
      }
      @if (commonQuestionsLink == false && commonQuestionColumn == counter)
      {
        <a href="@Url.Action("CommonQuestions", "Company")" class="item" title="Dúvidas Frequentes"><h5>Dúvidas Frequentes</h5></a>
        commonQuestionsLink = true;
      }
      </div>
  </div>
  counter++;
}