﻿@using System.Text.RegularExpressions
@{
    List<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List<DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List<DomainSocialNetwork.Entities.SocialNetwork>();
}

@Html.Action("GetPrivacyPolicyAlertText", "Company")

<div class="ui container fluid newsletter-bar">
    <div class="ui container">
        <span class="title">Newsletter</span>
        <span class="subTitle">Cadastre-se e receba novidades e promoções.</span>
        <div class="box">
            <input type="text" placeholder="e-mail" id="email_news">
            <button class="ui button" id="btn_news">
                cadastrar
            </button>
        </div>
    </div>
</div>

<div class="ui container fluid footer">
    <div class="ui container">

        <socialbar>
            @if (redesSociais.Find(f => f.Identifier == "facebook") != null)
            {
                <a class="text" href="@redesSociais.Find(f => f.Identifier == "facebook").Content" target="_blank">
                    <i class="facebook f icon"></i>
                </a>
            }
            @if (redesSociais.Find(f => f.Identifier == "instagram") != null)
            {
                <a class="text" href="@redesSociais.Find(f => f.Identifier == "instagram").Content" target="_blank">
                    <i class="instagram icon"></i>
                </a>
            }
            @if (redesSociais.Find(f => f.Identifier == "twitter") != null)
            {
                <a class="text" href="@redesSociais.Find(f => f.Identifier == "twitter").Content" target="_blank">
                    <i class="twitter icon"></i>
                </a>
            }
            @if (redesSociais.Find(f => f.Identifier == "youtube") != null)
            {
                <a class="text" href="@redesSociais.Find(f => f.Identifier == "youtube").Content" target="_blank">
                    <i class="youtube icon"></i>
                </a>
            }
            @if (redesSociais.Find(f => f.Identifier == "pinterest") != null)
            {
                <a class="text" href="@redesSociais.Find(f => f.Identifier == "pinterest").Content" target="_blank">
                    <i class="pinterest icon"></i>
                </a>
            }
            @if (redesSociais.Find(f => f.Identifier.ToUpper() == "WHATSAPP") != null)
            {
                string content = Regex.Replace(redesSociais.Find(f => f.Identifier.ToUpper() == "WHATSAPP").Content, "[^0-9]", "");
                string urlWhasapp = string.Format("{0}{1}", "https://api.whatsapp.com/send?phone=55", content);
                
                <a class="text" href="@urlWhasapp" target="_blank" title="WHATSAPP">
                    <i class="whatsapp icon"></i>
                </a>
            }
            @if (redesSociais.Find(f => f.Identifier.ToUpper() == "BLOGER") != null)
            {
                <a class="text" href="@redesSociais.Find(f => f.Identifier == "bloger").Content" target="_blank" title="Blogger">
                    <i class="wpforms icon"></i>
                </a>
            }
        </socialbar>

        <div class="ui three column grid stackable">
            @Html.Action("CustomPages", "Home")
            <div class="column">
                <h4 class="ui header">MINHA CONTA</h4>
                <div class="ui link list">
                    <a href="/order" class="item" title="Meus pedidos"><h5>Meus pedidos</h5></a>
                    <a href="/customer" class="item" title="Minha conta"><h5>Minha conta</h5></a>
					<a href="/checkout" class="item" title="Minha Sacola"><h5>Minha Sacola</h5></a>
					<a href="/fale-conosco" class="item" title="Fale Conosco"><h5>Fale Conosco</h5></a>
                </div>
            </div>
        </div>

        @Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")

        <div class="row text center selos-box">
            @* <div class="ui divider"></div> *@
            @* @Html.Partial("Common/_JetLogo") *@
            @Html.Action("EBit", "Company")
            @* @Html.Action("GetCompanySeal", "Company") *@
        </div>
    </div>
</div>
<div class="ui container fluid vertical subFooter">
    <div class="ui container">
        <div class="ui column grid">
            <div class="row stackable">
                <div class="column text small textoEmpresa">                    
                    <address>
                        @LojaCorp.Control.Company._Company.ComplementText
                        <br />
                        @{
                            string complementAddress = LojaCorp.Control.Company._Company.Complement != "" ? " " + LojaCorp.Control.Company._Company.Complement + ", " : "";
                        }
                        @LojaCorp.Control.Company._Company.FantasyName - @string.Format("{0}, {1}{2}", LojaCorp.Control.Company._Company.Address, complementAddress, LojaCorp.Control.Company._Company.Neighbourhood) |
                        @string.Format("{0}-{1}-{2}", LojaCorp.Control.Company._Company.CEP, LojaCorp.Control.Company._Company.City, LojaCorp.Control.Company._Company.State) |
                        CNPJ: @LojaCorp.Control.Company._Company.CNPJ
                    </address>
                </div>
            </div>
            <div class="row stackable byJet">
                <a href="http://www.jetecommerce.com.br" target="_blank">
                    Powered by <b>JET</b>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal-block"></div>

<div class="ui tiny modal news">
    <i class="close icon"></i>
    <div class="content">

        <div class="left">
            <img src="/assets/image/logo/logoPopup.svg" alt="Logo">
            <h4>primeira compra?</h4>
            <p>use o cupom <b>"PRIMEIRACOMPRA"</b> <br> e receba <u>5% de desconto</u> <br>
            cadastre seu e-mail abaixo</p>
            <div class="actions">
                <input type="email" placeholder="digite seu e-mail" name="email" id="emailNews" />
                <button class="ui approve button disabled">cadastrar</button>
            </div>
        </div>

        <div class="right">
            <img src="/assets/image/banners/model.png" alt="Modelo">
        </div>

    </div>
</div>

<div>
    <a href="https://api.whatsapp.com/send?phone=5511956077322" target="_blank">
      <img class="whatsappweb" src="https://lereve.plataformaneo.com.br/assets/image/whatsapp.png" />
    </a>
</div>
