﻿@{
  string _classSearch = Session["idEventList"] == null ? "search" : "filterListEventsProducts";
  string _classMiniCart = Session["idEventList"] == null && Session["EventList"] == null ? "mini-cart" : "mini-cart-list-event";
}
<div class="ui container fluid _header">
    <div class="ui container">
        <div class="ui middle aligned four column centered grid">
            <div class="row">

                <div class="ui column logoSection">
                    <a href="/Home" title="Página Inicial">
                        <img class="ui middle aligned image logo" src="/assets/image/logo/logo.svg" alt="@LojaCorp.Control.Company._Company.FantasyName" title="@LojaCorp.Control.Company._Company.FantasyName">
                    </a>
                </div>

                <div class="ui column menuSection">
                    @Html.Action("Menu", "Home")
                </div>

                <div class="ui column rightSection">

                    <div class="item search">
                        <div class="searchButton"></div>
                        <div class="searchcolumn">
                            <div class="ui category @_classSearch">
                                <div class="ui icon input fluid">
                                    <input class="prompt" type="text" placeholder="Buscar...">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                            <div class="ui searchMobile hideme">
                                <div class="ui button icon centered">
                                    <i class="search icon"></i>
                                </div>
                                <div class="ui blocoBusca @_classSearch">
                                    <div class="ui input fluid blocoBuscaContainer">
                                        <input class="prompt" type="text" placeholder="Buscar...">
                                        <i class="search icon search-results"></i>
                                        <i class="close icon disabled" id="closeResultsMobile"></i>
                                    </div>
                                    <div class="results"></div>
                                </div>
                            </div> 
                        </div>                    
                    </div>

                    <div class="item user">
                        @if ((Session["UserAuthenticated"] == null || (Convert.ToBoolean(Session["Guest"]) == true)) && Session["Seller"] == null)
                        {
                            <a href="/customer" title="Área do Cliente">
                                <i class="user icon regular"></i>
                            </a>
                            <ul>
                                <li><a href="/customer"><i class="user icon"></i>Minha Conta</a></li>
                                <li><a href="/order"><i class="shopping bag icon"></i>Meus Pedidos</a></li>
                                <li><a href="/customer/wishlist"><i class="heart icon"></i>Meus Favoritos</a></li>
                            </ul>
                        }
                        @if ((Session["UserAuthenticated"] != null) && (Convert.ToBoolean(Session["Guest"]) == false))
                        {
                            var userAuthenticated = (DomainCustomer.Entities.Customer)Session["UserAuthenticated"];

                            Char delimiter = ' ';
                            String[] nickName = userAuthenticated.Name.Split(delimiter);

                            <a href="/customer" title="Área do Cliente">
                                <i class="user icon regular"></i>
                            </a>
                            <ul>
                                <li><a href="/customer"><i class="user icon"></i>Olá, @nickName[0]!</a></li>
                                <li><a href="/order"><i class="shopping bag icon"></i>Meus Pedidos</a></li>
                                <li><a href="/customer/wishlist"><i class="heart icon"></i>Meus Favoritos</a></li>
                                <li><a href="/customer/logout"><i class="sign out icon"></i>(Sair)</a></li>
                            </ul>

                        }
                    </div>

                    <div class="item bag">
                        <div id="cartButton" class="ui button cartbutton @_classMiniCart" tabindex="0" data-segment="@(Session["segment"] != null ? Session["segment"] : "b2c")">
                            <div class="ui button ">
                                <i class="cart icon"></i>
                            </div>
                            <a class="ui label" id="total_itens_card"></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '2294688164147709');
fbq('track', "PageView");

</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=2294688164147709&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Pinterest Tag -->
<script>
!function(e){if(!window.pintrk){window.pintrk = function () {
window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
  n=window.pintrk;n.queue=[],n.version="3.0";var
  t=document.createElement("script");t.async=!0,t.src=e;var
  r=document.getElementsByTagName("script")[0];
  r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
pintrk('load', '2613048831333', {em: 'contato@lerevebandage.com.br'});
pintrk('track', 'pagevisit');
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt=""
  src="https://ct.pinterest.com/v3/?event=init&tid=2613048831333&pd[em]=<hashed_email_address>&noscript=1" />
</noscript>
<!-- end Pinterest Tag -->