﻿<div class="paymentcards formas-pagamento" title="American Express">
    <h4 class="ui header">FORMAS DE PAGAMENTO</h4>
    <div class="pagamento amex default">
		<svg viewBox="0 0 60 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<path d="M60,35 C60,37.75 57.75,40 55,40 L5,40 C2.25,40 0,37.75 0,35 L0,5 C0,2.25 2.25,0 5,0 L55,0 C57.75,0 60,2.25 60,5 L60,35 Z" id="Shape" fill="#ffffff"></path>
			<path d="M55,0 L5,0 C2.25,0 0,2.25 0,5 L0,35 C0,37.75 2.25,40 5,40 L55,40 C57.75,40 60,37.75 60,35 L60,5 C60,2.25 57.75,0 55,0 Z M55,1 C57.206,1 59,2.794 59,5 L59,35 C59,37.206 57.206,39 55,39 L5,39 C2.794,39 1,37.206 1,35 L1,5 C1,2.794 2.794,1 5,1 L55,1 Z" id="Shape" fill="#D0D0D0" fill-rule="nonzero"></path>
			<path d="M16.382,17.733 L17.57,20.472 L15.101,20.472 L16.382,17.733 Z M38.202,22.024 L34.073,22.024 L34.073,20.54 L38.202,20.54 L38.202,19.191 L34.073,19.191 L34.073,17.977 L38.202,17.977 L38.202,16.83 L41.265,19.893 L38.202,22.97 L38.202,22.024 Z M42.48,18.812 L40.456,16.626 L32.333,16.626 L32.333,23.373 L40.187,23.373 L42.414,21.16 L44.654,23.373 L46.746,23.373 L43.548,19.959 L46.841,16.626 L44.655,16.626 L42.48,18.812 Z M30.78,16.626 L27.946,16.626 L25.814,21.147 L23.52,16.626 L20.686,16.626 L20.686,23.171 L17.758,16.626 L15.1,16.626 L11.969,23.373 L13.885,23.373 L14.519,21.835 L18.162,21.835 L18.891,23.373 L22.413,23.373 L22.413,17.881 L24.909,23.373 L26.555,23.373 L29.038,17.975 L29.038,23.373 L30.779,23.373 L30.78,16.626 Z M16.989,23.333 L15.747,23.333 L16.989,23.333 Z M15.752,23.233 L15.115,24.723 L9.406,24.723 L13.912,15.277 L24.674,15.277 L25.76,17.363 L26.775,15.277 L30.598,15.277 L32.525,15.277 L41.284,15.277 L42.524,16.574 L43.856,15.277 L50.594,15.277 L45.81,19.989 L50.387,24.723 L43.867,24.723 L42.408,23.332 L40.961,24.723 L32.525,24.723 L30.598,24.723 L17.687,24.723 L16.987,23.233 L15.752,23.233 Z" id="Shape" fill="#129AD7" fill-rule="nonzero"></path>
		</g>
		</svg>
    </div>
    <div class="pagamento visa default" title="Visa">
        <svg viewBox="0 0 60 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="visa">
            <path d="M60,35 C60,37.75 57.75,40 55,40 L5,40 C2.25,40 0,37.75 0,35 L0,5 C0,2.25 2.25,0 5,0 L55,0 C57.75,0 60,2.25 60,5 L60,35 Z" id="Path" fill="#ffffff"></path>
            <path d="M55,0 L5,0 C2.25,0 0,2.25 0,5 L0,35 C0,37.75 2.25,40 5,40 L55,40 C57.75,40 60,37.75 60,35 L60,5 C60,2.25 57.75,0 55,0 Z M55,1 C57.206,1 59,2.794 59,5 L59,35 C59,37.206 57.206,39 55,39 L5,39 C2.794,39 1,37.206 1,35 L1,5 C1,2.794 2.794,1 5,1 L55,1 Z" id="Shape" fill="#D0D0D0" fill-rule="nonzero"></path>
            <path d="M42.747,21.56 C42.47,20.235 42.199,18.933 41.927,17.631 C41.914,17.63 41.901,17.629 41.888,17.627 C41.415,18.932 40.942,20.237 40.462,21.559 C41.236,21.56 41.974,21.56 42.747,21.56 Z M36.198,25.336 C36.362,24.941 36.524,24.552 36.687,24.163 C37.892,21.284 39.098,18.405 40.303,15.525 C40.538,14.963 40.956,14.677 41.57,14.679 C42.273,14.682 42.975,14.682 43.678,14.677 C43.812,14.676 43.872,14.704 43.903,14.852 C44.614,18.28 45.332,21.706 46.049,25.132 C46.063,25.199 46.071,25.268 46.083,25.345 C45.235,25.345 44.395,25.345 43.54,25.345 C43.444,24.884 43.341,24.43 43.258,23.971 C43.227,23.799 43.159,23.752 42.987,23.753 C41.943,23.762 40.898,23.76 39.854,23.754 C39.71,23.753 39.643,23.798 39.597,23.935 C39.452,24.366 39.296,24.793 39.133,25.218 C39.111,25.276 39.025,25.347 38.968,25.347 C38.069,25.355 37.17,25.352 36.271,25.351 C36.253,25.352 36.235,25.344 36.198,25.336 Z" id="Shape" fill="#152884" fill-rule="nonzero"></path>
            <path d="M36.836,14.964 C36.676,15.712 36.517,16.451 36.358,17.196 C36.055,17.095 35.767,16.985 35.471,16.903 C34.818,16.722 34.152,16.644 33.482,16.774 C33.241,16.821 32.993,16.923 32.792,17.063 C32.347,17.372 32.333,17.882 32.766,18.209 C33.097,18.459 33.471,18.651 33.827,18.867 C34.27,19.135 34.738,19.368 35.154,19.673 C36.212,20.449 36.564,21.527 36.205,22.79 C35.867,23.979 35.032,24.692 33.919,25.121 C32.899,25.514 31.836,25.57 30.761,25.483 C30.085,25.428 29.42,25.31 28.777,25.086 C28.671,25.049 28.567,25.006 28.448,24.96 C28.615,24.176 28.78,23.407 28.94,22.654 C29.397,22.815 29.835,22.999 30.289,23.123 C30.966,23.307 31.663,23.374 32.354,23.219 C32.623,23.159 32.898,23.036 33.12,22.874 C33.535,22.57 33.566,22.01 33.178,21.672 C32.886,21.418 32.538,21.226 32.206,21.021 C31.707,20.713 31.17,20.458 30.702,20.109 C29.14,18.944 29.419,17.184 30.23,16.13 C30.832,15.348 31.658,14.915 32.595,14.683 C33.977,14.341 35.341,14.439 36.683,14.902 C36.732,14.92 36.777,14.94 36.836,14.964 Z" id="Path" fill="#152884"></path>
            <path d="M28.825,14.696 C28.752,15.046 28.682,15.39 28.608,15.733 C27.941,18.852 27.271,21.971 26.611,25.091 C26.568,25.294 26.499,25.363 26.285,25.358 C25.532,25.343 24.779,25.352 24.026,25.352 C23.957,25.352 23.889,25.352 23.792,25.352 C23.863,25.018 23.929,24.705 23.996,24.393 C24.678,21.206 25.361,18.019 26.041,14.831 C26.062,14.732 26.084,14.675 26.204,14.675 C27.046,14.68 27.887,14.678 28.729,14.679 C28.753,14.681 28.777,14.688 28.825,14.696 Z" id="Path" fill="#152884"></path>
            <path d="M11.974,14.679 L12.179,14.679 C13.641,14.679 15.103,14.678 16.565,14.679 C17.337,14.679 17.81,15.073 17.953,15.829 C18.331,17.828 18.709,19.827 19.087,21.826 C19.089,21.838 19.095,21.85 19.114,21.902 C19.155,21.812 19.186,21.751 19.211,21.687 C20.111,19.414 21.012,17.141 21.905,14.866 C21.964,14.715 22.039,14.673 22.193,14.674 C23.016,14.681 23.839,14.677 24.661,14.677 L24.876,14.677 C24.835,14.784 24.804,14.871 24.768,14.956 C23.34,18.365 21.911,21.773 20.485,25.183 C20.435,25.303 20.379,25.356 20.239,25.354 C19.378,25.347 18.517,25.347 17.657,25.354 C17.522,25.355 17.476,25.312 17.443,25.184 C16.719,22.37 15.987,19.558 15.265,16.743 C15.156,16.32 14.925,16.027 14.53,15.839 C13.738,15.461 12.902,15.221 12.053,15.017 C12.011,15.007 11.97,14.994 11.915,14.979 C11.925,14.925 11.933,14.877 11.942,14.829 C11.952,14.788 11.961,14.745 11.974,14.679 Z" id="Path" fill="#152884"></path>
        </g>
		</g>
		</svg>
    </div>
    <div class="pagamento master default" title="Mastercard">
        <svg viewBox="0 0 60 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="mastercard">
            <path d="M60,35 C60,37.75 57.75,40 55,40 L5,40 C2.25,40 0,37.75 0,35 L0,5 C0,2.25 2.25,0 5,0 L55,0 C57.75,0 60,2.25 60,5 L60,35 Z" id="Path" fill="#ffffff"></path>
            <path d="M55,0 L5,0 C2.25,0 0,2.25 0,5 L0,35 C0,37.75 2.25,40 5,40 L55,40 C57.75,40 60,37.75 60,35 L60,5 C60,2.25 57.75,0 55,0 Z M55,1 C57.206,1 59,2.794 59,5 L59,35 C59,37.206 57.206,39 55,39 L5,39 C2.794,39 1,37.206 1,35 L1,5 C1,2.794 2.794,1 5,1 L55,1 Z" id="Shape" fill="#D0D0D0" fill-rule="nonzero"></path>
            <circle id="Oval" fill="#F79E1B" cx="35.27" cy="20.012" r="8.599"></circle>
            <circle id="Oval" fill="#EB001B" cx="24.73" cy="19.988" r="8.599"></circle>
            <path d="M26.671,19.993 C26.665,22.757 27.962,25.219 29.984,26.797 C32.014,25.228 33.323,22.773 33.33,20.01 C33.336,17.246 32.039,14.784 30.017,13.206 C27.986,14.773 26.677,17.229 26.671,19.993 Z" id="Path" fill="#FF5F00"></path>
        </g>
		</g>
		</svg>
    </div>
    <div class="pagamento diners default" title="Diners Club">
        <svg viewBox="0 0 60 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="diners-club-international-v2">
            <path d="M60,35 C60,37.75 57.75,40 55,40 L5,40 C2.25,40 0,37.75 0,35 L0,5 C0,2.25 2.25,0 5,0 L55,0 C57.75,0 60,2.25 60,5 L60,35 Z" id="Path" fill="#ffffff"></path>
            <path d="M55,0 L5,0 C2.25,0 0,2.25 0,5 L0,35 C0,37.75 2.25,40 5,40 L55,40 C57.75,40 60,37.75 60,35 L60,5 C60,2.25 57.75,0 55,0 Z M55,1 C57.206,1 59,2.794 59,5 L59,35 C59,37.206 57.206,39 55,39 L5,39 C2.794,39 1,37.206 1,35 L1,5 C1,2.794 2.794,1 5,1 L55,1 Z" id="Shape" fill="#D0D0D0" fill-rule="nonzero"></path>
            <path d="M36.11,19.99 C36.148,15.491 32.508,11.635 27.815,11.58 C23.133,11.526 19.307,15.258 19.306,19.977 C19.305,24.704 23.094,28.344 27.626,28.388 C32.401,28.434 36.144,24.54 36.11,19.99 Z M27.927,29.156 C27.859,29.141 27.085,29.116 27.016,29.112 C26.296,29.074 25.595,28.936 24.909,28.719 C23.222,28.187 21.801,27.248 20.65,25.906 C19.461,24.52 18.747,22.922 18.535,21.104 C18.511,20.901 18.481,20.698 18.454,20.495 C18.454,20.2 18.454,19.906 18.454,19.611 C18.469,19.549 18.489,19.487 18.497,19.424 C18.547,19.022 18.574,18.617 18.646,18.219 C18.965,16.466 19.727,14.929 20.966,13.647 C22.51,12.05 24.409,11.167 26.612,10.924 C26.815,10.902 27.759,10.871 27.961,10.845 C29.717,10.845 32.62,10.883 32.688,10.89 C32.957,10.919 33.228,10.93 33.494,10.973 C35.393,11.276 37.093,12.024 38.523,13.316 C40.715,15.296 41.709,17.777 41.525,20.726 C41.461,21.754 41.203,22.739 40.735,23.651 C39.124,26.793 36.546,28.585 33.056,29.075 C32.867,29.103 29.683,29.156 27.927,29.156 Z" id="Shape" fill="#074C95" fill-rule="nonzero"></path>
            <path d="M29.645,24.88 C29.645,21.608 29.645,18.353 29.645,15.095 C31.093,15.559 32.884,17.238 32.997,19.739 C33.114,22.35 31.368,24.277 29.645,24.88 Z" id="Path" fill="#074C95"></path>
            <path d="M25.78,24.883 C24.183,24.324 22.284,22.469 22.432,19.671 C22.555,17.35 24.198,15.624 25.78,15.09 L25.78,24.883 Z" id="Path" fill="#074C95"></path>
        </g>
		</g>
		</svg>
    </div>
    <div class="pagamento hiper default" title="Hipercard">
        <svg viewBox="0 0 60 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="hipercard-v2">
            <path d="M60,35 C60,37.75 57.75,40 55,40 L5,40 C2.25,40 0,37.75 0,35 L0,5 C0,2.25 2.25,0 5,0 L55,0 C57.75,0 60,2.25 60,5 L60,35 Z" id="Path" fill="#ffffff"></path>
            <path d="M55,0 L5,0 C2.25,0 0,2.25 0,5 L0,35 C0,37.75 2.25,40 5,40 L55,40 C57.75,40 60,37.75 60,35 L60,5 C60,2.25 57.75,0 55,0 Z M55,1 C57.206,1 59,2.794 59,5 L59,35 C59,37.206 57.206,39 55,39 L5,39 C2.794,39 1,37.206 1,35 L1,5 C1,2.794 2.794,1 5,1 L55,1 Z" id="Shape" fill="#D0D0D0" fill-rule="nonzero"></path>
            <path d="M26.037,30.477 L5.917,30.484 L5.917,30.436 C5.917,30.409 5.949,30.237 5.988,30.052 C6.027,29.868 6.088,29.574 6.123,29.4 C6.158,29.226 6.219,28.93 6.257,28.743 C6.295,28.555 6.359,28.243 6.399,28.049 C6.439,27.855 6.501,27.548 6.537,27.367 C6.573,27.186 6.634,26.89 6.672,26.71 C6.71,26.529 6.774,26.217 6.815,26.016 C6.856,25.815 6.918,25.508 6.953,25.334 C6.988,25.16 7.044,24.891 7.077,24.737 C7.11,24.583 7.152,24.375 7.171,24.274 C7.189,24.174 7.249,23.878 7.304,23.616 C7.359,23.354 7.419,23.059 7.438,22.959 C7.457,22.859 7.518,22.563 7.572,22.301 C7.627,22.04 7.687,21.744 7.706,21.644 C7.725,21.544 7.785,21.248 7.841,20.987 C7.896,20.726 7.956,20.435 7.974,20.342 C7.992,20.249 8.04,20.007 8.081,19.806 C8.122,19.605 8.201,19.227 8.255,18.966 C8.309,18.705 8.402,18.25 8.462,17.955 C8.522,17.66 8.592,17.31 8.619,17.176 C8.646,17.042 8.696,16.801 8.729,16.64 C8.762,16.479 8.822,16.189 8.862,15.995 C8.902,15.801 8.968,15.483 9.008,15.289 C9.048,15.095 9.109,14.793 9.144,14.619 C9.179,14.445 9.239,14.155 9.277,13.974 C9.315,13.793 9.381,13.475 9.423,13.268 C9.465,13.06 9.536,12.743 9.58,12.562 C9.624,12.381 9.686,12.162 9.719,12.075 C9.751,11.988 9.84,11.799 9.916,11.656 L10.055,11.395 L10.181,11.23 C10.25,11.139 10.374,10.996 10.456,10.911 C10.538,10.826 10.676,10.699 10.763,10.628 C10.85,10.557 10.976,10.461 11.043,10.415 C11.11,10.369 11.241,10.288 11.335,10.236 C11.429,10.183 11.56,10.115 11.627,10.083 C11.694,10.051 11.831,9.994 11.931,9.955 C12.031,9.916 12.223,9.851 12.357,9.81 C12.491,9.769 12.742,9.708 12.916,9.674 C13.089,9.64 13.363,9.594 13.525,9.572 L13.819,9.533 L33.951,9.525 L54.083,9.517 L54.083,9.565 C54.083,9.592 54.051,9.764 54.011,9.949 C53.972,10.133 53.906,10.449 53.864,10.65 C53.823,10.851 53.763,11.141 53.731,11.295 C53.699,11.449 53.638,11.745 53.595,11.953 C53.553,12.161 53.487,12.478 53.45,12.659 C53.413,12.84 53.352,13.136 53.316,13.317 C53.28,13.498 53.219,13.794 53.181,13.974 C53.143,14.155 53.085,14.44 53.051,14.607 C53.017,14.774 52.956,15.076 52.915,15.277 C52.874,15.478 52.808,15.796 52.769,15.983 C52.73,16.17 52.669,16.461 52.635,16.628 C52.601,16.795 52.54,17.097 52.499,17.298 C52.458,17.499 52.393,17.817 52.353,18.004 C52.313,18.191 52.255,18.476 52.222,18.637 C52.19,18.798 52.129,19.099 52.086,19.307 C52.044,19.515 51.982,19.816 51.95,19.977 C51.917,20.138 51.858,20.423 51.819,20.61 C51.78,20.798 51.713,21.121 51.671,21.328 C51.629,21.536 51.568,21.831 51.536,21.985 C51.504,22.139 51.445,22.429 51.404,22.63 C51.363,22.831 51.298,23.149 51.259,23.336 C51.22,23.523 51.16,23.819 51.124,23.993 C51.089,24.167 51.027,24.468 50.987,24.663 C50.947,24.857 50.882,25.175 50.842,25.369 C50.802,25.563 50.743,25.854 50.71,26.014 C50.677,26.175 50.617,26.471 50.576,26.672 C50.535,26.873 50.469,27.189 50.428,27.376 L50.355,27.714 L50.268,27.948 C50.22,28.077 50.148,28.248 50.108,28.328 C50.068,28.408 49.986,28.55 49.926,28.643 C49.866,28.736 49.783,28.855 49.74,28.908 C49.697,28.961 49.571,29.096 49.458,29.21 L49.253,29.416 L49.055,29.556 C48.946,29.633 48.829,29.712 48.795,29.731 C48.761,29.75 48.63,29.817 48.504,29.88 C48.378,29.943 48.201,30.023 48.11,30.058 C48.019,30.093 47.838,30.152 47.708,30.19 C47.578,30.228 47.439,30.265 47.399,30.273 C47.359,30.281 47.219,30.31 47.089,30.337 C46.959,30.365 46.696,30.406 46.505,30.429 L46.157,30.47 L26.037,30.477 Z" id="Path" fill="#B7232C"></path>
            <g id="Group" transform="translate(10.000000, 15.000000)" fill="#F5F5F5">
                <path d="M7.068,1.102 L7.145,0.772 L5.677,0.772 L5.645,0.996 C5.637,1.059 5.607,1.235 5.582,1.388 L5.571,1.45 C5.543,1.607 5.503,1.838 5.474,1.997 C5.442,2.178 5.382,2.524 5.342,2.766 C5.302,3.007 5.251,3.328 5.229,3.477 L5.204,3.643 L3.549,3.677 L2.81,3.659 C2.533,3.652 2.327,3.646 2.205,3.642 C2.208,3.621 2.212,3.597 2.217,3.573 C2.237,3.461 2.273,3.265 2.299,3.139 C2.325,3.011 2.374,2.758 2.408,2.577 C2.442,2.394 2.481,2.167 2.495,2.071 C2.507,1.98 2.534,1.828 2.554,1.733 C2.575,1.635 2.615,1.428 2.641,1.274 C2.665,1.135 2.691,1.006 2.698,0.981 L2.779,0.772 L1.299,0.772 L1.242,1.087 C1.221,1.206 1.193,1.374 1.18,1.463 C1.167,1.55 1.122,1.828 1.081,2.082 L0.812,3.763 C0.771,4.017 0.705,4.41 0.664,4.637 C0.622,4.865 0.563,5.187 0.531,5.354 L0.397,6.06 C0.355,6.282 0.294,6.592 0.261,6.752 C0.228,6.915 0.191,7.102 0.179,7.17 C0.167,7.236 0.13,7.428 0.096,7.596 C0.072,7.716 0.031,7.925 0.031,7.968 L0.031,8.132 L1.446,8.132 L1.74,6.348 C1.782,6.1 1.843,5.734 1.878,5.533 C1.912,5.333 1.967,5.021 1.999,4.842 C2.02,4.725 2.038,4.636 2.046,4.59 L5.034,4.59 L5.029,4.617 C5.014,4.695 4.968,4.933 4.929,5.148 L4.781,5.952 C4.739,6.179 4.679,6.502 4.647,6.67 C4.615,6.837 4.549,7.189 4.502,7.45 C4.476,7.596 4.414,7.938 4.414,7.977 L4.416,8.132 L5.833,8.132 L5.877,7.876 C5.892,7.792 5.915,7.639 5.93,7.538 C5.944,7.438 5.977,7.226 6.004,7.066 L6.125,6.36 C6.164,6.131 6.229,5.743 6.271,5.495 C6.312,5.247 6.373,4.886 6.406,4.692 C6.44,4.498 6.499,4.171 6.538,3.963 L6.956,1.686 C6.994,1.459 7.046,1.198 7.068,1.102 Z" id="Path"></path>
                <path d="M8.458,4.901 L8.591,4.207 C8.625,4.026 8.691,3.684 8.739,3.444 C8.788,3.198 8.825,3.032 8.836,3.006 L8.954,2.813 L7.561,2.83 L7.502,3.253 C7.478,3.428 7.425,3.771 7.384,4.018 L7.248,4.859 C7.214,5.073 7.154,5.416 7.115,5.623 L6.982,6.329 C6.948,6.51 6.887,6.827 6.847,7.034 C6.807,7.241 6.752,7.514 6.726,7.641 C6.701,7.765 6.674,7.89 6.666,7.92 L6.609,8.132 L7.906,8.132 L7.951,8.014 C7.973,7.956 7.974,7.856 7.974,7.845 C7.974,7.813 8,7.61 8.046,7.325 C8.087,7.075 8.153,6.668 8.194,6.421 C8.235,6.173 8.295,5.812 8.328,5.617 C8.36,5.424 8.419,5.102 8.458,4.901 Z" id="Path"></path>
                <polygon id="Path" points="8.125 2.177 8.494 2.19 8.749 2.104 9.005 1.863 9.143 1.537 9.155 1.045 9.039 0.853 8.798 0.688 8.396 0.688 8.097 0.81 7.912 0.994 7.774 1.298 7.741 1.791 7.882 2.067"></polygon>
                <path d="M12.671,4.453 L12.65,5.336 L12.588,5.61 C12.556,5.752 12.492,5.975 12.446,6.107 L12.371,6.328 L12.269,6.521 C12.213,6.627 12.13,6.764 12.086,6.825 C12.04,6.89 11.967,6.97 11.93,7.002 C11.885,7.041 11.809,7.102 11.763,7.136 L11.689,7.191 L11.311,7.32 L10.95,7.345 L10.7,7.301 L10.464,7.194 L10.308,7.045 L10.264,6.946 C10.237,6.885 10.202,6.779 10.186,6.716 L10.16,6.602 L10.181,6.217 L10.244,5.888 C10.279,5.707 10.341,5.367 10.382,5.131 C10.423,4.898 10.486,4.554 10.521,4.37 L10.576,4.076 L10.681,3.989 C10.754,3.928 10.869,3.847 10.933,3.811 L11.038,3.748 L11.35,3.648 L11.77,3.623 L12.084,3.686 L12.316,3.793 L12.498,3.975 L12.546,4.072 C12.573,4.124 12.614,4.237 12.634,4.314 L12.671,4.453 Z M13.872,3.75 L13.707,3.421 L13.368,3.055 L12.93,2.826 L12.496,2.722 L12.058,2.693 L11.58,2.75 L11.183,2.854 L11.019,2.929 C10.929,2.971 10.792,3.045 10.713,3.094 C10.707,3.098 10.679,3.116 10.648,3.138 C10.661,3.071 10.675,2.988 10.676,2.947 L10.68,2.818 L9.551,2.818 L9.456,3.417 C9.413,3.688 9.345,4.106 9.305,4.347 L9.037,5.942 C8.997,6.176 8.931,6.547 8.891,6.769 L8.624,8.217 C8.582,8.445 8.515,8.807 8.475,9.02 C8.435,9.235 8.37,9.574 8.33,9.774 C8.29,9.973 8.252,10.159 8.245,10.189 L8.195,10.398 L9.486,10.398 L9.534,10.278 C9.549,10.236 9.556,10.169 9.556,10.125 C9.556,10.099 9.57,9.971 9.593,9.823 L9.834,8.297 C9.859,8.138 9.888,7.944 9.908,7.81 L10.16,8.064 L10.535,8.225 L10.985,8.286 L11.511,8.251 L12.076,8.104 L12.222,8.037 C12.308,7.998 12.454,7.916 12.555,7.85 L12.745,7.722 L12.904,7.564 C12.993,7.475 13.121,7.33 13.189,7.24 C13.283,7.117 13.314,7.067 13.324,7.036 C13.334,7.018 13.355,6.986 13.376,6.953 C13.425,6.882 13.508,6.712 13.561,6.587 C13.618,6.453 13.709,6.208 13.764,6.04 L13.862,5.733 L13.911,5.48 C13.939,5.335 13.974,5.101 13.99,4.959 L14.018,4.679 L13.983,4.221 L13.872,3.75 Z" id="Shape" fill-rule="nonzero"></path>
                <path d="M17.799,4.224 L17.761,4.571 L16.647,4.571 C16.182,4.571 15.798,4.569 15.593,4.566 C15.596,4.557 15.599,4.548 15.603,4.539 C15.637,4.446 15.696,4.306 15.734,4.229 L15.798,4.101 L16.091,3.81 L16.229,3.744 C16.319,3.701 16.424,3.661 16.462,3.651 C16.5,3.641 16.639,3.623 16.78,3.615 L17.012,3.6 L17.355,3.643 L17.587,3.749 L17.645,3.811 C17.683,3.852 17.723,3.909 17.734,3.929 L17.758,3.975 L17.799,4.224 Z M19.005,4.392 L19.006,4.168 L19.004,3.917 L18.926,3.584 L18.849,3.44 C18.809,3.372 18.744,3.277 18.699,3.225 C18.653,3.172 18.573,3.099 18.515,3.058 C18.464,3.023 18.364,2.961 18.293,2.924 L18.142,2.849 L17.7,2.744 L17.155,2.692 L16.653,2.726 L16.046,2.845 L15.862,2.917 C15.758,2.96 15.598,3.036 15.506,3.088 C15.41,3.143 15.285,3.227 15.222,3.277 C15.159,3.328 15.051,3.427 14.98,3.497 C14.905,3.573 14.801,3.699 14.744,3.784 C14.687,3.869 14.6,4.016 14.551,4.114 C14.503,4.211 14.439,4.345 14.409,4.415 C14.381,4.484 14.328,4.624 14.293,4.727 C14.257,4.831 14.203,5.023 14.169,5.165 C14.137,5.302 14.092,5.526 14.07,5.665 L14.03,5.931 L14.034,6.684 L14.071,6.842 C14.092,6.934 14.133,7.071 14.162,7.151 C14.192,7.23 14.245,7.345 14.282,7.412 C14.321,7.48 14.4,7.586 14.463,7.652 C14.522,7.714 14.627,7.807 14.701,7.863 C14.775,7.918 14.901,7.992 14.989,8.032 L15.155,8.105 L15.355,8.153 C15.469,8.18 15.64,8.213 15.737,8.226 C15.833,8.238 16.031,8.249 16.188,8.251 L16.462,8.254 L16.736,8.229 C16.885,8.215 17.129,8.188 17.278,8.167 C17.437,8.145 17.695,8.097 17.853,8.063 L18.235,7.979 L18.262,7.781 C18.27,7.722 18.303,7.547 18.335,7.391 L18.395,7.102 L18.382,7.008 L18.27,6.9 L18.101,6.982 C18.061,7.002 17.915,7.056 17.77,7.103 L17.53,7.183 L17.018,7.286 L16.185,7.287 L16.059,7.247 C15.984,7.223 15.872,7.179 15.813,7.149 L15.712,7.099 L15.547,6.951 L15.418,6.733 L15.329,6.421 L15.327,5.849 L15.395,5.407 L16.019,5.378 L18.828,5.397 L18.892,5.126 C18.915,5.026 18.951,4.824 18.971,4.676 L19.005,4.392 Z" id="Shape" fill-rule="nonzero"></path>
                <path d="M22.33,3.776 C22.486,3.822 22.503,3.822 22.518,3.822 C22.532,3.822 22.658,3.817 22.658,3.641 C22.659,3.616 22.68,3.483 22.716,3.308 C22.779,2.996 22.779,2.981 22.779,2.968 C22.779,2.864 22.688,2.831 22.513,2.779 C22.419,2.751 22.274,2.716 22.195,2.707 L22.054,2.689 L21.877,2.72 C21.785,2.737 21.649,2.772 21.568,2.801 C21.489,2.83 21.364,2.893 21.282,2.946 C21.2,2.999 21.081,3.094 21.012,3.162 C20.977,3.197 20.93,3.248 20.883,3.304 C20.907,3.169 20.93,3.047 20.937,3.021 L20.999,2.818 L19.777,2.818 L19.777,3 C19.776,3.026 19.755,3.184 19.717,3.413 C19.683,3.619 19.628,3.963 19.594,4.178 C19.56,4.392 19.5,4.765 19.46,5.005 C19.42,5.245 19.36,5.589 19.326,5.769 L19.192,6.475 C19.152,6.683 19.086,7.022 19.045,7.229 C19.004,7.437 18.955,7.681 18.936,7.773 C18.899,7.953 18.899,7.978 18.899,8.008 L18.899,8.133 L20.18,8.133 L20.204,7.797 C20.212,7.679 20.242,7.435 20.268,7.266 C20.295,7.089 20.351,6.736 20.393,6.482 C20.434,6.229 20.51,5.808 20.561,5.545 C20.617,5.268 20.673,5.024 20.687,4.982 C20.7,4.945 20.731,4.852 20.729,4.823 C20.733,4.807 20.76,4.735 20.807,4.634 C20.851,4.538 20.937,4.385 20.995,4.298 L21.087,4.155 L21.37,3.893 L21.693,3.738 L22.206,3.741 L22.33,3.776 Z" id="Path"></path>
                <path d="M26.477,3.565 C26.494,3.455 26.524,3.275 26.544,3.164 C26.587,2.923 26.581,2.885 26.535,2.839 C26.506,2.811 26.494,2.799 26.249,2.771 C26.138,2.758 25.834,2.735 25.575,2.72 L25.093,2.694 L24.419,2.747 L23.911,2.855 L23.753,2.918 C23.668,2.952 23.532,3.018 23.454,3.065 C23.384,3.108 23.295,3.166 23.253,3.194 C23.204,3.23 23.078,3.346 22.983,3.439 L22.781,3.641 L22.677,3.793 C22.617,3.882 22.514,4.063 22.448,4.197 L22.326,4.447 L22.237,4.703 C22.187,4.847 22.117,5.081 22.082,5.225 L22.016,5.498 L21.97,5.973 L21.971,6.598 L22.025,6.982 L22.182,7.368 L22.368,7.653 L22.637,7.917 L22.974,8.098 L23.161,8.15 C23.272,8.181 23.423,8.214 23.506,8.227 C23.59,8.239 23.781,8.249 23.931,8.251 L24.207,8.254 L24.519,8.217 C24.689,8.197 24.916,8.163 25.023,8.143 C25.131,8.122 25.306,8.081 25.41,8.05 C25.625,7.991 25.652,7.967 25.662,7.957 C25.69,7.935 25.717,7.912 25.77,7.639 C25.795,7.512 25.826,7.342 25.84,7.261 C25.869,7.085 25.863,7.046 25.82,6.995 L25.778,6.957 L25.726,6.957 C25.679,6.957 25.639,6.981 25.622,6.995 C25.603,7.006 25.51,7.046 25.382,7.094 L25.167,7.175 L24.527,7.303 L23.978,7.284 L23.697,7.186 L23.483,6.998 L23.338,6.733 L23.265,6.374 L23.265,6.112 L23.264,5.869 L23.356,5.254 L23.407,5.083 C23.435,4.988 23.468,4.876 23.478,4.836 C23.488,4.799 23.531,4.691 23.571,4.599 C23.613,4.502 23.689,4.353 23.738,4.266 L23.814,4.128 L24.022,3.907 L24.239,3.768 L24.396,3.719 C24.479,3.694 24.627,3.66 24.719,3.646 L24.876,3.62 L25.394,3.644 L26.008,3.765 L26.137,3.813 C26.289,3.87 26.289,3.87 26.316,3.87 C26.43,3.871 26.44,3.8 26.477,3.565 Z" id="Path"></path>
                <path d="M29.711,5.442 L29.698,5.518 C29.68,5.622 29.639,5.805 29.606,5.93 C29.572,6.055 29.513,6.239 29.476,6.332 C29.428,6.456 29.409,6.512 29.401,6.541 C29.39,6.564 29.359,6.618 29.325,6.676 L29.244,6.812 L29.109,6.946 C29.057,6.999 29.008,7.044 28.982,7.063 C28.956,7.073 28.917,7.094 28.853,7.137 L28.778,7.188 L28.416,7.302 L28.062,7.321 L27.951,7.293 C27.891,7.278 27.792,7.241 27.739,7.213 L27.651,7.168 L27.607,7.115 C27.58,7.084 27.535,7.014 27.51,6.967 L27.47,6.892 L27.452,6.472 L27.488,6.349 C27.509,6.278 27.559,6.149 27.599,6.069 L27.667,5.927 L27.932,5.664 L28.202,5.531 L28.577,5.442 L29.711,5.442 Z M30.804,3.035 L30.467,2.857 L29.962,2.742 L29.315,2.694 L28.909,2.719 C28.685,2.733 28.369,2.76 28.204,2.781 L27.926,2.815 L27.426,2.818 L27.377,3.056 C27.361,3.132 27.318,3.312 27.28,3.456 C27.2,3.764 27.195,3.794 27.247,3.846 L27.288,3.888 L27.344,3.888 C27.356,3.888 27.394,3.888 27.609,3.829 C27.734,3.796 28.001,3.74 28.192,3.708 L28.542,3.647 L29.172,3.618 L29.578,3.689 L29.815,3.806 L29.933,3.983 L29.932,4.129 L29.933,4.291 L29.87,4.6 L28.22,4.607 L27.901,4.691 C27.737,4.735 27.558,4.795 27.49,4.826 C27.453,4.845 27.417,4.86 27.422,4.862 C27.391,4.862 27.364,4.862 27.148,4.997 L26.94,5.13 L26.794,5.276 C26.706,5.364 26.598,5.49 26.55,5.562 C26.499,5.637 26.423,5.783 26.375,5.894 L26.286,6.111 L26.21,6.558 L26.212,7.028 L26.282,7.399 L26.362,7.556 C26.403,7.63 26.474,7.735 26.525,7.794 L26.607,7.89 L26.929,8.093 L27.127,8.154 C27.223,8.18 27.368,8.214 27.451,8.226 L27.606,8.25 L28.302,8.228 L28.739,8.115 L28.873,8.052 C28.956,8.012 29.081,7.941 29.156,7.89 C29.236,7.837 29.356,7.739 29.428,7.666 C29.447,7.647 29.468,7.625 29.49,7.601 C29.48,7.7 29.473,7.796 29.473,7.855 L29.472,8.132 L30.612,8.132 L30.643,7.331 L30.706,6.88 C30.741,6.634 30.798,6.269 30.831,6.068 C30.865,5.868 30.925,5.528 30.963,5.315 C31.002,5.101 31.063,4.766 31.099,4.572 L31.166,4.198 L31.17,3.588 L31.02,3.251 L30.804,3.035 Z" id="Shape" fill-rule="nonzero"></path>
                <path d="M34.801,3.813 L34.896,3.806 L35.002,3.739 L35.004,3.594 C35.004,3.566 35.027,3.423 35.06,3.263 L35.138,2.885 L34.975,2.82 C34.937,2.806 34.85,2.777 34.782,2.756 L34.66,2.717 L34.183,2.712 L33.761,2.857 L33.493,3.018 L33.225,3.293 C33.246,3.183 33.271,3.039 33.272,2.999 L33.275,2.817 L32.247,2.817 L32.122,2.823 L32.122,2.948 C32.12,2.97 32.099,3.116 32.073,3.286 C32.046,3.469 31.99,3.819 31.95,4.067 C31.91,4.313 31.845,4.713 31.804,4.955 C31.764,5.195 31.704,5.539 31.67,5.72 C31.636,5.9 31.576,6.218 31.537,6.425 L31.2,8.132 L32.54,8.132 L32.539,7.7 L32.601,7.297 C32.635,7.076 32.69,6.725 32.725,6.518 C32.76,6.311 32.802,6.046 32.82,5.933 C32.838,5.82 32.884,5.577 32.924,5.392 C32.966,5.197 33.014,5.005 33.031,4.956 C33.035,4.943 33.076,4.831 33.075,4.797 C33.079,4.78 33.111,4.701 33.166,4.585 L33.254,4.394 L33.508,4.057 L33.638,3.958 C33.711,3.903 33.832,3.828 33.903,3.794 L34.016,3.738 L34.576,3.743 L34.801,3.813 Z" id="Path"></path>
                <path d="M35.829,4.942 C35.835,4.917 35.862,4.848 35.894,4.778 C35.934,4.689 35.999,4.552 36.04,4.473 C36.078,4.401 36.153,4.281 36.204,4.212 C36.256,4.142 36.348,4.037 36.405,3.983 C36.46,3.929 36.555,3.854 36.607,3.821 L36.692,3.766 L37.055,3.64 L37.821,3.64 L38.036,3.699 C38.135,3.726 38.24,3.758 38.295,3.776 C38.283,3.842 38.259,3.972 38.237,4.101 C38.209,4.262 38.154,4.568 38.114,4.782 C38.075,4.997 38.014,5.319 37.98,5.5 C37.946,5.678 37.897,5.904 37.871,6.002 L37.788,6.31 C37.769,6.375 37.726,6.489 37.692,6.559 C37.658,6.631 37.598,6.738 37.56,6.791 C37.522,6.846 37.457,6.922 37.419,6.956 C37.378,6.994 37.288,7.064 37.22,7.108 L37.1,7.187 L36.745,7.3 L36.422,7.321 L36.297,7.299 C36.24,7.289 36.14,7.259 36.083,7.234 L35.98,7.19 L35.814,7.055 L35.686,6.808 L35.624,6.536 L35.629,5.919 L35.703,5.379 L35.763,5.185 C35.856,4.892 35.828,4.942 35.829,4.942 Z M38.789,0.625 L38.762,0.889 C38.754,0.972 38.714,1.245 38.675,1.497 C38.634,1.752 38.569,2.156 38.529,2.397 L38.454,2.852 C38.373,2.829 38.277,2.804 38.271,2.803 L38.019,2.741 L37.364,2.692 L36.809,2.745 L36.298,2.878 L35.816,3.115 L35.458,3.383 L35.311,3.541 C35.228,3.63 35.107,3.778 35.04,3.873 L34.917,4.053 L34.785,4.328 C34.708,4.488 34.619,4.688 34.584,4.783 C34.546,4.881 34.483,5.09 34.44,5.258 L34.362,5.57 L34.289,6.348 L34.349,6.983 L34.381,7.091 C34.4,7.154 34.44,7.267 34.469,7.34 L34.52,7.469 L34.744,7.774 L34.982,7.965 L35.128,8.036 C35.217,8.081 35.359,8.136 35.45,8.159 C35.544,8.185 35.687,8.214 35.772,8.225 C35.857,8.236 36.031,8.246 36.168,8.248 L36.41,8.251 L36.64,8.213 C36.754,8.194 36.918,8.162 36.994,8.14 C37.069,8.119 37.197,8.068 37.286,8.023 L37.457,7.93 L37.726,7.69 L37.727,7.688 C37.721,7.737 37.715,7.787 37.711,7.828 L37.682,8.13 L38.9,8.13 L38.899,7.692 L38.972,7.071 C39.012,6.73 39.071,6.277 39.103,6.064 C39.135,5.851 39.185,5.545 39.213,5.386 C39.242,5.224 39.293,4.934 39.326,4.74 C39.359,4.546 39.42,4.206 39.46,3.986 L39.736,2.488 C39.771,2.3 39.833,1.973 39.874,1.759 C39.915,1.546 39.976,1.245 40.008,1.092 C40.07,0.792 40.07,0.78 40.069,0.75 L40.069,0.625 L38.789,0.625 Z" id="Shape" fill-rule="nonzero"></path>
            </g>
        </g>
		</g>
		</svg>
    </div>
	<div class="pagamento elo default" title="Elo">
	<svg viewBox="0 0 60 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="elo">
            <path d="M60,35 C60,37.75 57.75,40 55,40 L5,40 C2.25,40 0,37.75 0,35 L0,5 C0,2.25 2.25,0 5,0 L55,0 C57.75,0 60,2.25 60,5 L60,35 Z" id="Path" fill="#ffffff"></path>
            <path d="M55,0 L5,0 C2.25,0 0,2.25 0,5 L0,35 C0,37.75 2.25,40 5,40 L55,40 C57.75,40 60,37.75 60,35 L60,5 C60,2.25 57.75,0 55,0 Z M55,1 C57.206,1 59,2.794 59,5 L59,35 C59,37.206 57.206,39 55,39 L5,39 C2.794,39 1,37.206 1,35 L1,5 C1,2.794 2.794,1 5,1 L55,1 Z" id="Shape" fill="#D0D0D0" fill-rule="nonzero"></path>
            <path d="M49.31,21.627 C49.05,22.9 47.924,23.858 46.575,23.858 C46.274,23.858 45.975,23.81 45.689,23.714 L45.069,25.566 C45.554,25.728 46.063,25.811 46.575,25.81 C48.868,25.81 50.782,24.182 51.224,22.018 L49.31,21.627 Z M43.432,24.621 L44.725,23.158 C44.147,22.647 43.784,21.9 43.784,21.067 C43.784,20.235 44.148,19.489 44.725,18.978 L43.431,17.515 C42.45,18.384 41.831,19.654 41.831,21.067 C41.83,22.481 42.45,23.752 43.432,24.621 Z M45.69,18.42 C45.968,18.327 46.265,18.277 46.575,18.277 C47.925,18.277 49.052,19.236 49.31,20.511 L51.224,20.121 C50.785,17.955 48.87,16.325 46.575,16.325 C46.064,16.324 45.556,16.407 45.072,16.568 C45.071,16.567 45.69,18.42 45.69,18.42 Z M39.961,14.188 L39.961,23.346 L41.55,24.005 L40.798,25.811 L39.226,25.158 C38.873,25.005 38.634,24.771 38.452,24.508 C38.278,24.238 38.148,23.869 38.148,23.372 L38.148,14.189 L39.961,14.188 Z M32.721,16.326 C30.104,16.286 27.948,18.377 27.908,20.995 C27.893,21.977 28.176,22.894 28.675,23.657 L37.265,19.985 C36.782,17.916 34.942,16.36 32.721,16.326 Z M29.875,21.362 C29.863,21.252 29.855,21.14 29.858,21.026 C29.883,19.483 31.152,18.252 32.694,18.277 C33.533,18.288 34.278,18.673 34.782,19.267 L29.875,21.362 Z M34.601,23.062 C34.083,23.566 33.381,23.872 32.606,23.861 C32.075,23.852 31.582,23.693 31.164,23.428 L30.126,25.082 C30.86,25.547 31.709,25.799 32.578,25.811 C33.893,25.831 35.092,25.314 35.963,24.461 L34.601,23.062 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path>
            <path d="M21.028,20.918 C20.603,23.004 18.759,24.573 16.548,24.573 C16.055,24.573 15.565,24.494 15.097,24.338 L14.081,27.373 C14.876,27.639 15.709,27.774 16.548,27.773 C20.306,27.773 23.441,25.106 24.163,21.561 L21.028,20.918 Z" id="Path" fill="#ED412F"></path>
            <path d="M11.398,25.821 L13.518,23.424 C12.572,22.586 11.975,21.363 11.975,19.999 C11.975,18.636 12.572,17.413 13.518,16.576 L11.397,14.18 C9.79,15.604 8.777,17.683 8.777,20 C8.776,22.317 9.79,24.397 11.398,25.821" id="Path" fill="#1AA5DF"></path>
            <path d="M15.097,15.662 C15.564,15.506 16.054,15.427 16.547,15.427 C18.76,15.427 20.605,16.999 21.029,19.086 L24.164,18.447 C23.445,14.899 20.308,12.228 16.547,12.228 C15.71,12.227 14.878,12.362 14.083,12.627 L15.097,15.662 Z" id="Path" fill="#FFCA32"></path>
        </g>
		</g>
		</svg>
    </div>
	<div class="pagamento discover default hideme">
		<svg viewBox="0 0 60 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
        <linearGradient x1="20.4848946%" y1="7.76970012%" x2="82.2975374%" y2="96.348176%" id="linearGradient-1">
            <stop stop-color="#E25416" offset="0%"></stop>
            <stop stop-color="#F9A020" offset="100%"></stop>
        </linearGradient>
		</defs>
		<g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="discover-v2">
            <path d="M60,35 C60,37.75 57.75,40 55,40 L5,40 C2.25,40 0,37.75 0,35 L0,5 C0,2.25 2.25,0 5,0 L55,0 C57.75,0 60,2.25 60,5 L60,35 Z" id="Path" fill="#ffffff"></path>
            <path d="M55,0 L5,0 C2.25,0 0,2.25 0,5 L0,35 C0,37.75 2.25,40 5,40 L55,40 C57.75,40 60,37.75 60,35 L60,5 C60,2.25 57.75,0 55,0 Z M55,1 C57.206,1 59,2.794 59,5 L59,35 C59,37.206 57.206,39 55,39 L5,39 C2.794,39 1,37.206 1,35 L1,5 C1,2.794 2.794,1 5,1 L55,1 Z" id="Shape" fill="#D0D0D0" fill-rule="nonzero"></path>
            <path d="M31.34,16.19 C29.162,16.19 27.394,17.892 27.394,19.991 C27.394,22.223 29.084,23.893 31.34,23.893 C33.537,23.893 35.272,22.202 35.272,20.037 C35.271,17.88 33.548,16.19 31.34,16.19 Z" id="Path" fill="url(#linearGradient-1)"></path>
            <path d="M53.42,23.725 L51.067,20.576 C52.164,20.354 52.77,19.602 52.77,18.46 C52.77,17.058 51.809,16.252 50.127,16.252 L47.965,16.252 L47.965,23.725 L49.422,23.725 L49.422,20.723 L49.613,20.723 L51.63,23.725 L53.42,23.725 Z M51.27,18.537 C51.27,19.287 50.775,19.691 49.847,19.691 L49.422,19.691 L49.422,17.427 L49.869,17.427 C50.775,17.429 51.27,17.81 51.27,18.537 Z M42.866,23.725 L42.866,16.252 L46.999,16.252 L46.999,17.518 L44.322,17.518 L44.322,19.177 L46.898,19.177 L46.898,20.443 L44.322,20.443 L44.322,22.46 L46.999,22.46 L46.999,23.726 L42.866,23.726 L42.866,23.725 Z M38.978,23.916 L38.194,23.916 L35.024,16.252 L36.614,16.252 L38.607,21.272 L40.624,16.252 L42.205,16.252 L38.978,23.916 Z M24.975,23.893 C22.756,23.893 21.031,22.19 21.031,19.994 C21.031,17.822 22.802,16.084 25.009,16.084 C25.635,16.084 26.162,16.218 26.801,16.543 L26.801,18.258 C26.195,17.663 25.669,17.417 24.975,17.417 C23.607,17.417 22.531,18.548 22.531,19.982 C22.531,21.494 23.574,22.558 25.042,22.558 C25.703,22.558 26.217,22.323 26.801,21.74 L26.801,23.455 C26.141,23.77 25.602,23.893 24.975,23.893 Z M17.995,23.906 C16.885,23.906 16.079,23.469 15.407,22.483 L16.348,21.576 C16.683,22.225 17.244,22.572 17.937,22.572 C18.588,22.572 19.069,22.124 19.069,21.519 C19.069,21.205 18.926,20.937 18.635,20.745 C18.488,20.656 18.197,20.52 17.626,20.321 C16.259,19.828 15.789,19.302 15.789,18.271 C15.789,17.051 16.798,16.132 18.118,16.132 C18.936,16.132 19.688,16.412 20.314,16.96 L19.553,17.958 C19.17,17.531 18.814,17.352 18.376,17.352 C17.75,17.352 17.288,17.711 17.288,18.181 C17.288,18.585 17.549,18.797 18.421,19.122 C20.079,19.728 20.572,20.265 20.572,21.452 C20.572,22.896 19.507,23.906 17.995,23.906 Z M13.402,16.252 L14.857,16.252 L14.857,23.725 L13.402,23.725 L13.402,16.252 Z M12.73,19.994 C12.73,17.787 11.082,16.252 8.719,16.252 L6.58,16.252 L6.58,23.725 L8.707,23.725 C9.839,23.725 10.657,23.456 11.374,22.862 C12.226,22.158 12.73,21.092 12.73,19.994 Z M11.228,19.983 C11.228,20.701 10.927,21.417 10.422,21.865 C9.963,22.279 9.369,22.459 8.428,22.459 L8.036,22.459 L8.036,17.517 L8.429,17.517 C9.37,17.517 9.941,17.685 10.423,18.122 C10.927,18.571 11.228,19.266 11.228,19.983 Z" id="Shape" fill="#221F1F" fill-rule="nonzero"></path>
            <path d="M27.834,20.441 C27.834,18.342 29.602,16.64 31.78,16.64 C32.783,16.64 33.685,16.989 34.372,17.571 C33.658,16.722 32.571,16.19 31.33,16.19 C29.152,16.19 27.384,17.892 27.384,19.991 C27.384,21.218 27.895,22.274 28.729,22.977 C28.166,22.306 27.834,21.429 27.834,20.441 Z" id="Path" fill="#A3310B"></path>
        </g>
		</g>
		</svg>
    </div>
    <div class="pagamento boleto default hideme">
        <svg viewBox="0 0 60 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="boleto-barcode">
            <path d="M60,35 C60,37.75 57.75,40 55,40 L5,40 C2.25,40 0,37.75 0,35 L0,5 C0,2.25 2.25,0 5,0 L55,0 C57.75,0 60,2.25 60,5 L60,35 Z" id="Path" fill="#ffffff"></path>
            <path d="M55,0 L5,0 C2.25,0 0,2.25 0,5 L0,35 C0,37.75 2.25,40 5,40 L55,40 C57.75,40 60,37.75 60,35 L60,5 C60,2.25 57.75,0 55,0 Z M55,1 C57.206,1 59,2.794 59,5 L59,35 C59,37.206 57.206,39 55,39 L5,39 C2.794,39 1,37.206 1,35 L1,5 C1,2.794 2.794,1 5,1 L55,1 Z" id="Shape" fill="#D0D0D0" fill-rule="nonzero" opacity="0.6"></path>
            <path d="M14,10 L15.976,10 L15.976,30.109 L14,30.109 L14,10 Z M26.156,10 L28.132,10 L28.132,30.109 L26.156,30.109 L26.156,10 Z M36.265,10 L38.241,10 L38.241,30.109 L36.265,30.109 L36.265,10 Z M40.286,10 L42.262,10 L42.262,30.109 L40.286,30.109 L40.286,10 Z M44.354,10 L46.33,10 L46.33,30.109 L44.354,30.109 L44.354,10 Z M30.177,10 L34.196,10 L34.196,30.109 L30.177,30.109 L30.177,10 Z M18.044,10 L24.085,10 L24.085,30.109 L18.044,30.109 L18.044,10 Z" id="Combined-Shape" fill="#000000"></path>
        </g>
		</g>
		</svg>
    </div>
</div>