﻿<div class="ui container fluid topbar" id="top_bar">
    <div class="ui container">
        <span class="title">FRETE GRÁTIS ACIMA DE R$1500,00 <a href="/institucional/1933/7303" style="color: #fff;text-decoration: underline">SAIBA MAIS</a></span>
    </div>
</div>